<template>
  <div v-if="actors">
    <q-btn
      round
      flat
      v-for="a in actors.sort((a, b) => b.roles.length - a.roles.length)"
      :key="a.id"
      class="q-mr-xs"
      @click.stop="$emit('input', a)"
      @mouseover="$emit('input', a)"
      @mouseleave="$emit('input', null)"
      size="xs"
    >
      <actor-avatar :actor="a" :size="size" />
      <!-- REMOVE -->
      <q-badge v-if="(auth.logged || store.settings.public) && editable && role.actors.includes(a)" color="transparent" transparent floating>
        <q-btn size="xs" color="negative" dense round icon="remove"
          @click.stop="store.toggleActorInRole(a, role)"/>
      </q-badge>
    </q-btn>
    <!-- ADD -->
    <q-btn round dense color="primary" v-if="editable && (auth.logged || store.settings.public)" size="xs">
      <q-avatar :size="size">
        <q-icon name="add" />
        <q-tooltip anchor="top middle" self="bottom middle">{{tooltip}}</q-tooltip>
      </q-avatar>
      <q-popup-proxy>
        <actor-select
          :role="props.role"
          filled
          autofocus
          @input="store.toggleActorInRole($event, role)"
        />
      </q-popup-proxy>
    </q-btn>
  </div>
</template>

<script setup>
import { watch, ref, computed } from "vue"
import { useOrgaStore } from 'stores/orga'
import { useAuthStore } from "stores/auth"
const store = useOrgaStore()
const auth = useAuthStore()

const emit = defineEmits(["input", "toggle"])

const props = defineProps({
  role: { default: {} },
  tooltip: { type: String, default: "Assignez des acteurs à ce rôle." },
  size: { default: "48px" },
  includeChildren: { type: Boolean, default: false },
  editable: { type: Boolean, default: false },
})

const actors = computed(() => {
  var r
  console.log("ACTORS TOGGLE")
  console.log("Passed role:", props.role)
  if (!props.role) r =[]
  if (!props.includeChildren) {
    if (props.role.is_circle) r = props.role.actors_in_circle
    else r = props.role.actors
  }
  else r = props.role.all_actors
  console.log("Returned actors", r)
  return r
})

</script>

<style scoped>
.selected {
  border: 2px solid orangered;
}
</style>
