<template>
  <q-card flat>
    <q-select
      :autofocus="autofocus"
      :borderless="borderless"
      :filled="filled"
      :dense="dense"
      :outlined="outlined"
      :rounded="rounded"
      :label="hint"
      v-model="model"
      :options="actorList"
      use-input
      @filter="filter"
      @update:model-value="selectActor"
      new-value-mode="add"
      input-debounce="10"
      ref="select"
    >
      <template v-slot:no-option>
        <q-item v-if="!model">
          <q-item-section class="text-grey-7">
            <p>Pas d'utilisateurs.</p>
            <p>Entrez un nom pour en créer.</p>
          </q-item-section>
        </q-item>
        <q-item v-else clickable @click="createActor(filterTxt)">
          <q-item-section avatar>
            <q-icon name="add" />
          </q-item-section>
          <q-item-section>
            <span>Créer l'utilisateur <q-badge class="text-dark">{{ filterTxt }}</q-badge>.</span>
          </q-item-section>
        </q-item>
      </template>
      <template v-slot:option="scope">
        <q-item
          v-bind="scope.itemProps"
          @click="selectActor(scope.opt)"
          dense
          :class="actorInRole(scope.opt) ? 'bg-green-4' : ''"
        >
          <q-item-section avatar>
            <actor-avatar :actor="scope.opt" />
          </q-item-section>
          <q-item-section>{{ scope.opt.name }}</q-item-section>
          <q-item-section side>
            <q-badge class="text-dark">{{ scope.opt.roles.length }}</q-badge>
            <q-tooltip anchor="top middle" self="bottom middle"
              >{{ scope.opt.name }} énergise {{ scope.opt.roles.length }}
              {{ store.term("role") }}.</q-tooltip
            >
          </q-item-section>
        </q-item>
      </template>
    </q-select>
  </q-card>
</template>

<script setup>
import { computed, ref } from 'vue';
import { useOrgaStore } from 'stores/orga'
const store = useOrgaStore()


const props = defineProps({
  role: {},
  hint: {
    default: "Entrez un nom"
  },
  autofocus: { type: Boolean, default: false },
  filled: { default: false },
  borderless: { default: false },
  outlined: { default: false },
  rounded: { default: false },
  dense: { default: false },
  sortByRole: { type: Boolean, default: true }
})

const emit = defineEmits(["input"])
  
const model = ref([])
const filterTxt = ref("")
const select = ref(null)

const actorList = computed(() => {
  var l = store.roles._all_actors
    // On filtre par rapport au texte entré
    .filter(a =>
      a.name.toLowerCase().includes(filterTxt.value.toLowerCase())
    )
    // On trie: d'abord les actors attribués au roles (par ordre alphabétiques) puis les autres (par ordre alphabétiques)
    .sort((a, b) =>
      props.role && actorInRole(a) !== actorInRole(b)
        ? actorInRole(a)
          ? -1
          : 1
        : a.name.localeCompare(b.name)
    )
    // On trie éventuellement par nombre de rôles
    .sort((a, b) =>
      props.sortByRole
        ? b.roles.length -
          a.roles.length
        : 0
    )
  return Object.freeze(l)
})


const selectActor = (actor) => {
  if (typeof(actor) == "object" && model.value)
    emit("input", actor)
  else if (typeof(actor) == "string" && actor)
    createActor(actor)
  model.value = []
  select.value.hidePopup()
}
const createActor = async (name) => {
  // On crée l'acteur
  var data = await store.createActor(name)
  console.log(data)
  select.value.hidePopup()
  selectActor(data)
}

const filter = (val, update) => {
  filterTxt.value = val.trim()
  update()
}
const actorInRole = (actor) => {
  // Return true if actor is in role, if role is specified. False otherwise.
  return props.role ? props.role.actors.includes(actor) : false
}
</script>
