<template>
  <q-avatar :size="size">
      <q-img :ratio="1" :src="src" />
      <q-tooltip anchor="top middle" self="bottom middle">
        <span class="text-primary text-caption text-bold">{{ actor.name }}</span><br />
        <q-chip dense size="sm">{{ actor.roles.length }}</q-chip> rôles.
      </q-tooltip>
    </q-avatar>
</template>

<script setup>
import md5 from "md5"
import { computed } from 'vue'
import { useOrgaStore } from 'stores/orga'
const store = useOrgaStore()
  
const props = defineProps({
  actor: { default: {} },
  size: { default: "" }
})

const avatar = n => "https://www.gravatar.com/avatar/" + md5(n || "") + "?d=retro"

const src = computed(() => {
  if (props.actor.avatarSrc) return props.actor.avatarSrc
  else if (props.actor.email) return avatar(props.actor.email)
  else return avatar(props.actor.name)
})
</script>
