<template>
  <div :style="'padding-right:'+(size-width)+'px'" class="full-width">
    <div v-for="(actor) in actors" :key="actor.id"
    :style="{ width: width+'px'}" class="float-right">
    <actor-avatar :actor="actor" :size="size+'px'" @mouseover="$emit('actor', actor)" />
  </div>
</div>
<q-resize-observer @resize="onResize" />
</template>

<script setup>
import { computed, ref } from 'vue'
import { useOrgaStore } from 'stores/orga'
const store = useOrgaStore()

const props = defineProps({
  actors: { default: [] },
  size: { default: 32 }
})

defineEmits(["actor"])
const max_width = ref()

const width = computed(() => {
  return Math.min((max_width.value + props.size / 2) / (props.actors.length * 2), props.size / 2)
})

const onResize = (size) => max_width.value = size.width

</script>

<style lang="sass" scoped>
.overlapping
  position: relative
</style>
