<template>
  <role-expansion-item :value="props.value" :role="store.roles" default-opened @input="$emit('input', $event)"/>
</template>

<script setup>
import md5 from "md5"
import { computed } from 'vue'
import { useOrgaStore } from 'stores/orga'
const store = useOrgaStore()

const props = defineProps({
  value: { default: ""},
  roles: { default: [] },
  showRemove: { type: Boolean, default: false }
})

defineEmits(["remove", "input"])

const role = computed(() => {
  return props.value
        ? store.roles.by_id(props.value)
        : store.roles
})

// const guilds = computed(() => role.value.children.filter(r => r.is_circle))
// const roles = computed(() => role.value.children.filter(r => !r.is_circle))

</script>
