<template>
  <q-list>
    <q-expansion-item
      v-for="role in roles"
      :key="role.id"
      :content-inset-level="1"
      @show="$emit('input', role.id)"
      expand-separator
    >
      <template v-slot:header>
        <q-item-section avatar>
          <q-btn
            round
            flat
            color="primary"
            icon="arrow_forward"
            :to="{ name: 'Role', params: { role: role.id } }"
          />
          <q-tooltip anchor="top middle" self="bottom middle">Aller vers le rôle</q-tooltip>
        </q-item-section>
        <q-item-section class="col">
          <q-item-label>{{ role.name }}</q-item-label>
          <q-item-label caption>{{ role.path || 'Racine' }}</q-item-label>
        </q-item-section>
        <q-item-section avatar class="col">
          <actors-avatars :actors="role.actors_in_circle" />
        </q-item-section>
      </template>
      <div
        v-for="val in ['purpose', 'accountabilities', 'domain']"
        :key="val"
      >
        <div v-if="role[val]">
          <div class="text-subtitle1">{{ store.term(val) }}</div>
          <div
            class="text-caption"
            v-html="store.formatted(role[val])"
          />
        </div>
        <div v-else class="text-caption text-grey font-italic">
          Pas de {{ store.term(val) }} spécifié.
        </div>
      </div>
    </q-expansion-item>
  </q-list>
</template>

<script setup>
import md5 from "md5"
import { computed, watch, ref } from 'vue'
import { useOrgaStore } from 'stores/orga'

const store = useOrgaStore()

const props = defineProps({
  roles: { default: [] },
  showRemove: { type: Boolean, default: false }
})

defineEmits(["remove", "input"])


</script>
