<template>
  <q-list bordered>
    <q-expansion-item :header-class="header_colors.class" :header-style="header_colors.style" :expand-icon-class="cls_text"
      :default-opened="expanded" @update:model-value="$emit('input', role.id)">
      <template v-slot:header>
        <q-item-section avatar>
          <q-btn dense flat :icon="role.is_circle ? 'group_work' : 'circle'" :class="cls_text_f()"
            @click.stop="$emit('input', role.id)" />
        </q-item-section>

        <q-item-section class="col-6">
          <q-item-label class="text-h6">{{ role.name }}</q-item-label>
          <q-item-label caption :class="cls_text_f()">
            <q-badge v-if="role.roles.filter(r => r.is_circle).length" :class="`q-mr-sm ${cls_bg_f(2)} ${cls_text_f(2)}`">
              <q-icon name="group_work" />
              {{ role.roles.filter(r => r.is_circle).length }}
            </q-badge>
            <q-badge v-if="role.roles.filter(r => !r.is_circle).length" :class="`q-mr-sm ${cls_bg_f(2)} ${cls_text_f(2)}`">
              <q-icon name="circle" />
              {{ role.roles.filter(r => !r.is_circle).length }}
            </q-badge>
              <q-badge v-if="role.all_actors.length" :class="`q-mr-sm ${cls_bg_f(2)} ${cls_text_f(2)}`">
              <q-icon name="people" />
              {{ role.all_actors.length }}
            </q-badge>
            <q-badge outline v-if="!role.actors.length && !role.actors_in_circle.length" class="q-mr-sm" color="negative">
              <q-icon name="warning" class="q-mr-sm" /> Pas énergisé
            </q-badge>
          </q-item-label>
        </q-item-section>

        <q-item-section side class="col">
          <actors-avatars :actors="role.all_actors" size="32" />
        </q-item-section>
      </template>
      <div class="q-pa-md">
        <div v-for="val in ['purpose', 'accountabilities', 'domain']" :key="val">
          <div v-if="role[val]">
            <div class="text-subtitle1">{{ store.term(val) }}</div>
            <div class="text-caption" v-html="store.formatted(role[val])" />
          </div>
        </div>
      </div>
      <q-list bordered class="q-ma-md" v-if="role.children.length">
        <role-expansion-item v-for="r in children" :value="value"
          :key="r.id" :role="r" @input="$emit('input', $event)"/>
      </q-list>
    </q-expansion-item>
  </q-list>
</template>

<script setup>
import md5 from "md5"
import { computed, watch, ref } from 'vue'
import { useOrgaStore } from 'stores/orga'
import { colors } from 'quasar'
import _ from "lodash"

const store = useOrgaStore()

const props = defineProps({
  role: { default: {} },
  value: { default: {} },
  defaultOpened: { type: Boolean, default: false }
})

defineEmits(["remove", "input"])

// const color = computed(() => colors.lighten(colors.getPaletteColor('accent'), (props.role.level -2) * 100 / store.roles._max_depth))
const cls_bg = computed(() => ["bg-primary", "bg-secondary", "bg-accent"][props.role.level % 3])
const cls_text = computed(() => ["text-dark", "text-dark", "text-white"][props.role.level % 3])

const cls_bg_f = (i=0) => ["bg-primary", "bg-secondary", "bg-accent"][(props.role.level + i) % 3]
const cls_text_f = (i=0) => ["text-dark", "text-dark", "text-white"][(props.role.level + i) % 3]

const header_colors = computed(() => {
  var c = { class: "", style: ""}
  if (!props.role || !props.role.name) return c
  var t = (store.settings.colors && store.settings.colors[props.role.name])
  if (t) {
    c.style = { 'background-color': t }
    c.class = "text-dark"
  }
  else c.class = `${cls_bg_f()} ${cls_text_f()}`
  return c
})

const children = computed(() => {
  var children = _.clone(props.role.children).sort((a,b) => a.path.localeCompare(b.path))
  children = children.sort((a, b) => a.is_template ? -1 : 1)
  return children
})

const selected_role = computed(() => store.roles.by_id(props.value))

const expanded = computed(() => {
  return props.role.roles.includes(selected_role.value) || props.role == selected_role.value
})

</script>
