<template>
  <q-card square flat class="column full-height" v-if="role">
    <!-- Titre -->
    <q-card-section :class="'col-auto bg-accent q-pa-xs'">
      <q-item class="" dense>
        <q-item-section avatar>
          <q-icon :name="role.is_circle ? 'group_work' : 'circle'" />
        </q-item-section>
        <q-item-section>
          <span :class="$q.screen.xs ? 'text-h5' : 'text-h4'" v-if="!editing">
            {{ role.name || "Sélectionnez un role" }}
          </span>
          <q-input
            :class="'col ' + ($q.screen.xs ? ' text-h5 ' : ' text-h4 ')"
            auto-grow
            v-if="editing"
            :model-value="roleProp('name')"
            @update:modelValue="setProp('name', $event)"
            debounce="2000"
            :disable="!role.id"
          />
        </q-item-section>
        <q-item-section avatar>
          <q-btn
            v-if="auth.logged || store.settings.public"
            :flat="!editing"
            :dense="$q.screen.xs"
            icon="edit"
            class="float-right self-start"
            @click="switchEditMode"
          />
        </q-item-section>
      </q-item>
    </q-card-section>
    <q-tab-panels v-model="tab" animated keep-alive class="col column">
      <!-- INFO -->
      <q-tab-panel name="info" class="q-pa-none column">
        <q-scroll-area class="col">
          <!-- Role -->
          <q-card-section class="q-gutter-y-md">
            <q-breadcrumbs v-if="!role.orga" active-color="primary">
              <q-breadcrumbs-el
                v-for="(n, i) in role.breadcrumbs"
                :key="n.id"
                :label="n.name"
                @click="emit('input', i === 0 ? undefined : n.id)"
                class="cursor-pointer"
              />
            </q-breadcrumbs>
            <!-- Archive -->
            <div v-if="role.data && role.data.archived">
              <span class="text-h6 text-grey"
                ><q-icon name="archive" label="Archivé" /> Archivé</span
              >
            </div>
            <!-- Raison d'être -->
            <div class="text-h5" v-if="editing || role.purpose">
              {{ store.term("purpose") }}
            </div>
            <p
              v-if="!editing && role.purpose"
              v-html="store.formatted(role.purpose)"
            />
            <q-input
              v-else-if="editing"
              class="col"
              autogrow
              dense
              filled
              :model-value="roleProp('purpose')"
              @update:modelValue="setProp('purpose', $event)"
              debounce="2000"
              :disable="!role.id"
              hint="Entrez une raison d'être."
            />
            <!-- Acteurs -->
            <div class="text-h5">
              Acteurices
              <q-btn icon="info" color="grey-6" flat class="float-right">
                <q-popup-proxy>
                  <q-card>
                    <q-card-section class="bg-secondary text-dark">
                      Qui est dans quelle guilde?
                    </q-card-section>
                    <q-card-section>
                      <div v-html="store.formatted(info_guild)"></div>
                    </q-card-section>
                  </q-card>
                </q-popup-proxy>
              </q-btn>
            </div>
            <div v-if="!role.is_circle">
              <!-- C'est un rôle -->
              <div class="text-overline">Énergisé par</div>
              <actors-toggle
                :role="role"
                @input="$emit('actor', $event)"
                :editable="editing"
              />
            </div>
            <div v-else>
              <!-- C'est un cercle -->
              <!-- <div class="text-h5">Dans ce {{store.term("circle")}}</div> -->
              <div class="text-overline">Dans la guilde</div>
              <div
                v-if="editing && role.orga"
                class="caption text-grey text-italic"
              >
                Pour attribuez des {{ store.term("actors") }} au
                {{ store.term("circle") }} principal, créez des
                {{ store.term("role") }}s.
              </div>
              <actors-toggle
                v-else
                :role="role"
                @input="$emit('actor', $event)"
                :editable="editing"
              />
              <!-- Avec des sous-acteurs -->
              <div
                v-if="
                  role.all_actors &&
                  !_.isEqual(role.actors_in_circle, role.all_actors)
                "
              >
                <div class="text-overline">
                  Dans les sous-{{ store.term("circle") }}s
                </div>
                <actors-toggle
                  :role="role"
                  @input="$emit('actor', $event)"
                  include-children
                />
              </div>
            </div>
            <!-- Domaine -->
            <div class="text-h5" v-if="editing || role.domain">
              {{ store.term("domain") }}
            </div>
            <p
              v-if="!editing && role.domain"
              v-html="store.formatted(role.domain)"
            />
            <q-input
              v-else-if="editing"
              class="col"
              autogrow
              dense
              filled
              :model-value="roleProp('domain')"
              @update:modelValue="setProp('domain', $event)"
              debounce="2000"
              :disable="!role.id"
              hint="Quel est le domaine sur lequel ce rôle est souverain?"
            />
            <!-- Responsabilités -->
            <div class="text-h5" v-if="editing || role.accountabilities">
              {{ store.term("accountabilities") }}
            </div>
            <p
              v-if="!editing && role.accountabilities"
              v-html="store.formatted(role.accountabilities)"
            />
            <q-input
              class="col"
              autogrow
              dense
              filled
              v-else-if="editing"
              :model-value="roleProp('accountabilities')"
              @update:modelValue="setProp('accountabilities', $event)"
              debounce="2000"
              :disable="!role.id"
              hint="Précisez les redevabilités, ce sera plus clair pour tout le monde."
            />
          </q-card-section>
          <!-- Roles -->
          <q-card-section v-if="role.children.length" class="q-pb-xl">
            <q-expansion-item
              icon="group_work"
              default-opened
              header-class="bg-grey-9 rounded-borders"
            >
              <template v-slot:header>
                <q-item-section avatar>
                  <q-icon size="md" name="group_work" />
                </q-item-section>
                <q-item-section class="text-h5"
                  >{{ store.term("role") }}(s)</q-item-section
                >
                <q-item-section side>
                  <div class="q-gutter-xs">
                    <q-badge class="bg-primary text-dark" align="middle">
                      <q-icon name="group_work" />
                      {{ role.roles.filter((r) => r.is_circle).length }}
                    </q-badge>
                    <q-badge class="bg-secondary text-dark" align="middle">
                      <q-icon name="circle" />
                      {{ role.roles.filter((r) => !r.is_circle).length }}
                    </q-badge>
                    <q-badge class="bg-accent text-white" align="middle">
                      <q-icon name="people" />
                      {{ role.all_actors.length }}
                    </q-badge>
                  </div>
                </q-item-section>
              </template>
              <q-list>
                <q-item
                  v-for="r in role.roles_in_circle"
                  :key="r.role.id"
                  clickable
                  @click="$emit('input', r.role.id)"
                  @mouseenter="$emit('hover', r.role.id)"
                  @mouseleave="$emit('hover', null)"
                  class="q-ml-sm"
                >
                  <q-item-section avatar>
                    <q-icon
                      :style="{ color: r.role.color }"
                      size="sm"
                      :name="r.role.is_circle ? 'group_work' : 'circle'"
                    />
                  </q-item-section>
                  <q-item-section>
                    <q-item-label>{{ r.role.name }}</q-item-label>
                    <q-item-label caption v-if="r.type == 'functional'">
                      {{ r.subrole.name }}
                    </q-item-label>
                  </q-item-section>
                  <q-item-section avatar class="col">
                    <actors-avatars
                      v-if="r.actors.length"
                      :actors="r.actors"
                      @actor="$emit('actor', $event)"
                    />
                    <q-icon v-else name="warning" color="warning">
                      <q-tooltip
                        >Personne n'est assigné à ce rôle. C'est si
                        triste.</q-tooltip
                      >
                    </q-icon>
                  </q-item-section>
                </q-item>
              </q-list>
            </q-expansion-item>
          </q-card-section>
          <q-card-section v-if="role.archived_roles().length">
            <div class="text-grey">
              <div class="text-h6">Archives</div>
              <p>Il y a {{ role.archived_roles().length }} rôles archivés.</p>
              <q-btn
                class="col-6"
                flat
                :icon="!store.show_archives ? 'unarchive' : 'archive'"
                color="grey"
                :label="store.show_archives ? 'Masquer' : 'Afficher'"
                @click="store.show_archives = !store.show_archives"
              />
            </div>
          </q-card-section>
          <!-- ACTIONS -->
          <q-card-actions align="around" v-if="editing">
            <!-- Nouveau role -->
            <q-btn
              flat
              icon="add"
              color="positive"
              :label="`Nouveau ${store.term('role')}`"
            >
              <q-popup-proxy>
                <role-select
                  filled
                  autofocus
                  includeModels
                  :hint="`Entrez un nom de ${store.term('role')}`"
                  @input="
                    store.newRole({
                      parent: role,
                      from: $event,
                    })
                  "
                  @create="
                    store.newRole({
                      parent: role,
                      name: $event,
                    })
                  "
                  @newCircle="
                    store.newCircle({
                      parent: role,
                      name: $event,
                    })
                  "
                  allow-create
                />
              </q-popup-proxy>
            </q-btn>
            <!-- Déplacer -->
            <q-btn
              flat
              icon="arrow_right"
              color="warning"
              v-if="role"
              label="Déplacer"
            >
              <q-popup-proxy>
                <role-select
                  filled
                  autofocus
                  hint="Vers…"
                  :exclude="[role]"
                  @input="setRoleParent"
                />
              </q-popup-proxy>
            </q-btn>
            <!-- Archiver -->
            <q-btn
              flat
              :icon="role.data.archived ? 'unarchive' : 'archive'"
              color="grey"
              v-if="!role.orga"
              :label="role.data.archived ? 'Désarchiver' : 'Archiver'"
              @click="store.toggleArchive(role)"
            />
            <!-- Supprimer -->
            <q-btn
              v-if="!role.orga"
              @click="deleteRole"
              flat
              label="Supprimer"
              color="negative"
              icon="delete"
            />
            <q-banner
              v-if="!role.orga && role.children.length"
              class="text-right text-red text-italic"
            >
              Attention ! Ceci supprimera le cercle {{ role.name }}, ses
              {{ role.roles.length }} sous-cercles et tous leurs sous-cercles.
            </q-banner>
          </q-card-actions>
        </q-scroll-area>
      </q-tab-panel>
      <!-- ACTIONS -->
      <!--
        <q-tab-panel name="actions" class="q-pa-none">
          <role-actions-list show-children :role="role" />
        </q-tab-panel> -->
      <q-tab-panel name="notes" class="q-pa-none col column">
        <notes-list
          :role="role"
          class="col"
          :editing="editing"
          @hover="(e) => $emit('hover', e)"
        />
      </q-tab-panel>
      <q-tab-panel name="summary" class="q-pa-none col column">
        <roles-print :role="role" class="col" :editing="editing"/>
      </q-tab-panel>
    </q-tab-panels>
    <q-separator />

    <q-tabs
      v-model="tab"
      dense
      class="text-grey-7"
      align="justify"
      active-color="cream"
      narrow-indicator
      switch-indicator
      indicator-color="transparent"
      inline-label
    >
      <q-tab name="info" :label="tab == 'info' ? 'Infos' : ''" icon="info" />
      <q-tab name="notes" :label="tab == 'notes' ? 'Notes' : ''" icon="sticky_note_2" />
      <q-tab name="summary" :label="tab == 'summary' ? 'Résumé' : ''" icon="print" />
    </q-tabs>
  </q-card>
</template>

<script setup>
import { useQuasar } from "quasar";
import { watch, ref, computed } from "vue";
import { useRouter } from "vue-router";
import { useOrgaStore } from "stores/orga";
import { SB } from "../../db";
import _ from "lodash";
import { useAuthStore } from "stores/auth";

const store = useOrgaStore();
const auth = useAuthStore();
const $q = useQuasar();
const router = useRouter();

const props = defineProps(["value", "actor"]);
const emit = defineEmits(["editing", "hover", "input", "actor"]);

const editing = ref(false);
const tab = ref("info");

const role = computed(() => {
  return props.value ? store.roles.by_id(props.value) : store.roles;
});

const roleProp = computed(() => (name) => role.value[name]);

const deleteRole = () => {
  if (props.value) {
    $q.dialog({
      title: "Es-tu sûr?",
      message: `Tu es sur le point de supprimer '${role.value.name}'
          ${
            role.value.children.length
              ? " et ses " + role.value.roles.length + " enfants !"
              : ""
          }
          Cette action est définitive.`,
      cancel: true,
      persistent: true,
    }).onOk(() => {
      var parent = role.value.parent;
      store.deleteRole(props.value).then((d) => {
        $q.notify("Rôle supprimé.");
        emit("input", parent.id);
      });
    });
  }
};

const setProp = (name, val) => {
  var table = [store.orga.id, undefined].includes(props.value)
    ? "holycratie_orgas"
    : "holycratie_roles";
  $q.loadingBar.start();
  $q.notify({ message: `Enregistrement…`, spinner: true, group: "save" });
  SB.from(table)
    .update({
      [name]: val,
    })
    .eq("id", role.value.id)
    .then((r) => {
      if (r.error)
        $q.notify({
          message: "Erreur",
          caption: r.error.message,
          color: "negative",
          group: "save",
        });
      else $q.notify({ message: `C'est noté.`, group: "save" });
      $q.loadingBar.stop();
    });
};

const setRoleParent = (role) => {
  var parent_id = role.id || null;
  if (parent_id == store.orga.id) parent_id = null;
  if (props.value) {
    SB.from("holycratie_roles")
      .update({
        parent: parent_id,
      })
      .eq("id", props.value)
      .then((r) => {
        if (r.error) store.notify_error(r.error.message, r.error.details);
        else $q.notify("Adopté!");
      });
  }
};

const switchEditMode = () => {
  editing.value = !editing.value;
  emit("editing", editing.value);
};

const info_guild = computed(
  () => `
Une **guilde** est un rôle qui a soit:
- Des sous-rôles
- Plusieurs personnes qui l'énergisent

La team qui compose la guilde est composée ainsi:
- Les personnes directement attribuées à la guilde
- Les personnes qui énergisent chacun des rôles de la guilde
- Certains rôles des sous-guildes, ici: ${store.templates
    .filter((t) => t.in_parent)
    .map((t) => `<code>${t.name}</code>`)
    .join(", ")}
`
);
</script>

<style>
.selected {
  border: 2px solid orangered;
}
</style>
