<template>
  <div class="column">
    <q-resize-observer @resize="(v) => (containerWidth = v.width)" />
    <div class="col-auto row" id="print-bar">
      <q-checkbox
        v-if="role.children.length"
        v-model="children"
        label="Enfants"
        checked-icon="account_tree"
        unchecked-icon="account_tree"
      />
      <q-checkbox
        v-if="children"
        v-model="circlesOnly"
        :label="circlesOnly ? 'Cercles' : 'Rôles'"
        checked-icon="group_work"
        unchecked-icon="circle"
      />
      <q-checkbox
        v-if="children && !circlesOnly"
        v-model="functionalRoles"
        label="Rôles fonctionnels"
        checked-icon="visibility"
        unchecked-icon="visibility_off"
      />
      <q-checkbox
        v-if="children"
        v-model="toc"
        label="Table of content"
        checked-icon="toc"
        unchecked-icon="toc"
      />
      <q-space />
      <q-btn
        v-if="!print"
        flat
        icon="print"
        :to="`/orga/${store.orga_id}/print/${role.id}`"
      />
      <q-checkbox
        v-if="print"
        v-model="printerFriendly"
        checked-icon="water_drop"
        unchecked-icon="water_drop"
      />
    </div>
    <q-scroll-area class="col column no-wrap" v-if="!print">
      <role-print
        v-if="toc && children"
        class="col-auto"
        table-of-content
        :editing="editing"
        :container-width="containerWidth"
        :toc-options="{
          title: role.name,
          pages: roles.map((r) => r.name),
          subtitle: role.root.name,
        }"
      />
      <role-print
        class="col-auto"
        v-for="(r, i) in roles"
        :key="r.id"
        :role="r"
        :editing="editing"
        :container-width="containerWidth"
        :id="'p' + (i + 1)"
      />
    </q-scroll-area>
    <div v-else>
      <role-print
        v-if="toc && children"
        class="col-auto"
        table-of-content
        :editing="editing"
        :container-width="containerWidth"
        :toc-options="{
          title: role.name,
          pages: roles.map((r) => r.name),
          subtitle: role.root.name,
        }"
        print
        :printer-friendly="printerFriendly"
      />
      <role-print
        class="col-auto"
        v-for="(r, i) in roles"
        :key="r.id"
        :role="r"
        :editing="editing"
        :container-width="containerWidth"
        :id="'p' + (i + 1)"
        print
        :printer-friendly="printerFriendly"
      />
    </div>
  </div>
</template>

<script setup>
import { watch, ref, computed, onUpdated } from "vue";
import { useQuasar } from "quasar";
import { useOrgaStore } from "stores/orga";
import { useAuthStore } from "stores/auth";
import { _ } from "lodash";
import { SB } from "../../db";

const store = useOrgaStore();
const auth = useAuthStore();
const $q = useQuasar();

const emit = defineEmits(["hover"]);

const props = defineProps({
  role: { default: {} },
  editing: { default: false, type: Boolean },
  print: { default: false, type: Boolean },
});

const containerWidth = ref();
const printerFriendly = ref(false)

const children = ref(true);
const circlesOnly = ref(true);
const functionalRoles = ref(true);
const toc = ref(false);

// Si on passe à un role sans enfants, on met l'affichage des enfants sur off
watch(
  () => props.role,
  () => {
    if (!props.role.children.length) {
      children.value = false;
      toc.value = false;
      circlesOnly.value = false;
    }
  }
);

const roles = computed(() => {
  if (!children.value) return [props.role];
  else {
    console.log(props.role.roles);
    if (circlesOnly.value)
      return [props.role].concat(props.role.roles.filter((r) => r.children.length));
    else if (!functionalRoles.value)
      return [props.role].concat(props.role.roles.filter((r) => !r.is_functional));
    else return [props.role].concat(props.role.roles);
  }
});
</script>

<style lang="scss">
@media print {
  #print-bar {
    display: none;
  }
}
</style>
