<template>
  <q-card flat>
    <q-select
      :autofocus="autofocus"
      :borderless="borderless"
      :filled="filled"
      :dense="dense"
      :outlined="outlined"
      :rounded="rounded"
      :label="hint"
      v-model="model"
      :options="roleList"
      use-input
      @filter="filter"
      @update:model-value="selectRole"
      new-value-mode="add"
      input-debounce="10"
      ref="select"
      clearable
    >
      <template v-slot:no-option>
        <q-item v-if="!model">
          <q-item-section class="text-grey-7">
            <p>Pas de {{store.term('role')}}.</p>
          </q-item-section>
        </q-item>
        <q-item v-else-if="!allowCreate">
          <q-item-section class="text-grey-7">
            <p>Pas de {{store.term('role')}} de ce nom. Essayez autre chose.</p>
          </q-item-section>
        </q-item>
        <q-item v-else clickable @click="createRole(filterTxt)">
          <q-item-section avatar>
            <q-icon name="add" />
          </q-item-section>
          <q-item-section>
            <span
              >Créer le {{store.term('role')}} <q-badge>{{ filterTxt }}</q-badge
              >.</span
            >
          </q-item-section>
        </q-item>
      </template>
      <!-- <template v-if="filterCat && filterTag" v-slot:prepend>
      <q-icon name="add" @click.stop="" class="cursor-pointer" />
    </template>
    <template v-if="filter" v-slot:append>
      <q-icon name="clear" @click.stop="" class="cursor-pointer" />
    </template> -->
      <template v-slot:option="scope">
        <q-item
          v-bind="scope.itemProps"
          dense
          @click="selectRole(scope.opt)"
          :disable="scope.opt.disable"
          :class="scope.opt.disable ? 'bg-grey' : ''"
        >
          <q-item-section>
            <q-item-label>{{ scope.opt.name }}</q-item-label>
            <q-item-label caption>{{ scope.opt.path }}</q-item-label>
          </q-item-section>
        </q-item>
      </template>
    </q-select>
  </q-card>
</template>

<script setup>
import { useQuasar } from 'quasar'
import { watch, ref, computed } from "vue"
import { useOrgaStore } from 'stores/orga'

const store = useOrgaStore()
const $q = useQuasar()

const props = defineProps({
  hint: {
    default: ""
  },
  // list of nodes to exclude (with their children)
  exclude: { type: Array, default: () => [] },
  autofocus: { type: Boolean, default: false },
  filled: { default: false },
  borderless: { default: false },
  outlined: { default: false },
  rounded: { default: false },
  dense: { default: false },
  allowCreate: { type: Boolean, default: false },
  includeModels: { type: Boolean, default: false }
})

const emit = defineEmits(["input", "newCircle", "create"])

const model = ref()
const filterTxt = ref("")
const select = ref(null) // ref au html q-select
  
const roleList = computed(() => {
  var l = []
  var exclude = props.exclude
  var filter = filterTxt.value.toLowerCase()
  
  l = store.roles.roles
  .filter(r => !props.allowCreate || !r.orga)
  .filter(r => r.name.toLowerCase().includes(filter))
  .filter(r => r.breadcrumbs.every(b => !exclude.includes(b)))

  // On trie selon le niveau de profondeur
  l = l.sort((a, b) => a.path.split(">").length - b.path.split(">").length)

  // On regarde ce qu'on renvoie
  if (!props.includeModels) {
    // Simplement la liste des rôles
    return Object.freeze(l)
  } else {
    var l2 = []
    // Il faut inclure les modèles, donc on doit rajouter:
    var lm = []
    // Les modèles en question
    store.templates.forEach((t, i) => {
      if (t.name.toLowerCase().includes(filter)) {
        lm.push({
          name: t.name,
          id: i,
          path: "Modèle"
        })
      }
    })
    // Un rôle ex-nihilo si du texte est entré
    if (filter) {
      l2.push({
        name: `Nouveau ${store.term('role')}`,
        disable: true
      })
      l2.push({
        name: filterTxt.value
      })
    }
    // Créer directement un cercle à partir des templates, si certaines
    // sont par défault
    var templates = store.templates.filter((t) => t.default)
    if (templates.length) {
      l2.push({
        name: `Nouveau ${store.term('circle')} avec ${templates.length} ${store.term('role')}s par défaut`,
        disable: true
      })
      l2.push({
        name: filterTxt.value || "Nouveau cercle",
        path: templates.map((t) => t.name).join(" · "),
        id: "!cercle"
      })
    }
    // Un header pour les modèles s'il y en a
    if (lm.length) {
      l2.push({
        name: `Nouveau ${store.term('role')} à partir d'un modèle`,
        disable: true
      })
      l2 = l2.concat(lm)
    }
    // Un header pour les roles s'il y en a
    if (l.length) {
      l2.push({
        name: `Nouveau ${store.term('role')} à partir d'un ${store.term('role')} existant`,
        disable: true
      })
      l2 = l2.concat(l)
    }
    return Object.freeze(l2)
  }
})
  
const selectRole = (role) => {
  if (role && model.value) {
    if (role.id === "!cercle") emit('newCircle', filterTxt.value)
    else if (role.id != null) emit("input", role)
    else if (!props.allowCreate) emit("input", role)
    else emit("create", filterTxt.value)
    model.value = []
    select.value.hidePopup()
  }
}

const filter = (val, update) => {
  filterTxt.value = val.trim()
  update()
}
  

</script>
