<template>
  <div class="page A4 col-12 column" :style="{ zoom: zoomRatio }">
    <q-resize-observer @resize="onPageResize" />
    <!-- Table of Content -->
    <div
      id="summary"
      :class="
        'col-12 column dnd q-pa-lg toc ' + (printerFriendly ? 'print' : '')
      "
      v-if="tableOfContent"
    >
      <div class="col flex flex-center column">
        <p class="title">{{ tocOptions.title }}</p>
        <p class="subtitle" v-if="tocOptions.title != tocOptions.subtitle">
          {{ tocOptions.subtitle }}
        </p>
      </div>
      <div class="col row items-start justify-center q-pb-xl">
        <ul class="row" style="max-width: 50%">
          <li
            class="text-h3 col-12 row"
            v-for="(p, i) in tocOptions.pages"
            :key="i"
          >
            <a :href="'#p' + (i + 1)" class="col-auto">{{ p }}</a>
            <span class="col toc-item"></span>
            <span class="col-auto">{{ i }}</span>
          </li>
        </ul>
      </div>
      <div class="col-auto text-center">
        v. {{ new Date().toLocaleString() }}
      </div>
    </div>

    <!-- Role page -->
    <div
      id="summary"
      :class="'col-12 dnd q-pa-lg toc ' + (printerFriendly ? 'print' : '')"
      v-else
    >
      <div class="banner wide text-center q-pa-md q-mb-md">
        <div class="text-h1">{{ role.name }}</div>
      </div>
      <div class="text-h4 wide text-center">{{ role.path }}</div>

      <!-- Raison d'être -->
      <div
        class="wide q-mb-md q-mb-md q-pa-sm"
        v-if="!settings.hide_purpose || editing"
        :style="{
          opacity: settings.hide_purpose ? 0.4 : 1,
        }"
      >
        <q-btn
          v-if="editing"
          :icon="settings.hide_purpose ? 'visibility' : 'visibility_off'"
          class="float-right"
          flat
          dense
          color="grey"
          @click="() => togglePropVisibility('purpose', n)"
        />
        <div class="text-h2 text-center" style="font-size: 0.7cm">Mission</div>
        <div
          class="text-h3 text-center"
          v-html="store.formatted(role.purpose)"
        />
      </div>

      <!-- Guilde référente -->
      <div
        class="frame-2 q-mb-md q-pa-sm"
        v-if="role.parent && (!settings.hide_parent || editing)"
        :style="{
          opacity: settings.hide_parent ? 0.4 : 1,
        }"
      >
        <q-btn
          v-if="editing"
          :icon="settings.hide_parent ? 'visibility' : 'visibility_off'"
          class="float-right"
          flat
          dense
          color="grey"
          @click="() => togglePropVisibility('parent', n)"
        />
        <div class="text-h2">Guilde référente</div>
        <div class="text-center">
          <div class="text-h3">{{ role.parent?.name }}</div>
          <p>
            {{ role.parent.actors_in_circle.map((a) => a.name).join(" · ") }}
          </p>
        </div>
      </div>

      <!-- Energisé par -->
      <div
        class="frame-2 q-mb-md q-pa-sm"
        v-if="!role.is_circle && (!settings.hide_energize || editing)"
        :style="{
          opacity: settings.hide_energize ? 0.4 : 1,
        }"
      >
        <q-btn
          v-if="editing"
          :icon="settings.hide_energize ? 'visibility' : 'visibility_off'"
          class="float-right"
          flat
          dense
          color="grey"
          @click="() => togglePropVisibility('energize', n)"
        />
        <div class="text-h2">Énergisé par</div>
        <div class="text-center q-py-sm">
          <div class="text-h3">
            {{ role.actors.map((a) => a.name).join(" · ") }}
          </div>
        </div>
      </div>

      <!-- Dans la guilde -->
      <div
        class="frame-2 q-mb-md q-pa-sm"
        v-if="role.is_circle && (!settings.hide_in_guild || editing)"
        :style="{
          opacity: settings.hide_in_guild ? 0.4 : 1,
        }"
      >
        <q-btn
          v-if="editing"
          :icon="settings.hide_in_guild ? 'visibility' : 'visibility_off'"
          class="float-right"
          flat
          dense
          color="grey"
          @click="() => togglePropVisibility('in_guild', n)"
        />
        <q-btn
          :icon="settings.showRolesDetails ? 'expand_less' : 'expand_more'"
          class="float-right"
          flat
          dense
          color="grey"
          @click="toggleRolesDetails"
          v-if="editing"
        >
          <q-tooltip>Détails des roles</q-tooltip>
        </q-btn>
        <div class="text-h2">Dans la guilde</div>
        <div>
          <div v-for="r in role.roles_in_circle" :key="r.id">
            <span class="text-h4">{{ r.role.name }}:</span>
            {{ r.actors.map((a) => a.name).join(" · ") }}
            <div class="q-mb-xs" v-if="settings.showRolesDetails">
              <ul>
                <li
                  v-for="prop in [
                    'purpose',
                    'domain',
                    'accountabilities',
                  ].filter((p) => r.role[p])"
                  :key="prop"
                >
                  <b>{{ store.terms[prop] }}:</b>
                  <div v-html="store.formatted(r.role[prop])"></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- Domaine -->
      <div
        class="frame-2 q-mb-md q-pa-sm"
        v-if="!settings.hide_domain || editing"
        :style="{
          opacity: settings.hide_domain ? 0.4 : 1,
        }"
      >
        <q-btn
          v-if="editing"
          :icon="settings.hide_domain ? 'visibility' : 'visibility_off'"
          class="float-right"
          flat
          dense
          color="grey"
          @click="() => togglePropVisibility('domain', n)"
        />
        <div class="text-h2">Domaine</div>
        <div v-html="store.formatted(role.domain)" />
      </div>

      <!-- Redevabilités -->
      <div
        class="frame-2 q-mb-md q-pa-sm"
        v-if="!settings.hide_accountabilities || editing"
        :style="{
          opacity: settings.hide_accountabilities ? 0.4 : 1,
        }"
      >
        <q-btn
          v-if="editing"
          :icon="
            settings.hide_accountabilities ? 'visibility' : 'visibility_off'
          "
          class="float-right"
          flat
          dense
          color="grey"
          @click="() => togglePropVisibility('accountabilities', n)"
        />
        <div class="text-h2">Redevabilités</div>
        <div v-html="store.formatted(role.accountabilities)" />
      </div>

      <!-- Notes -->
      <div class="frame-4 q-mb-md q-pa-sm" v-for="n in notes" :key="n.id">
        <q-btn
          v-if="editing"
          icon="visibility_off"
          class="float-right"
          flat
          dense
          color="grey"
          @click="() => hideNote(n)"
        />
        <div class="text-h2">
          {{ n.title }}
        </div>
        <div class="text-caption" v-if="n.role != role">
          De: {{ n.role.fullpath }}
        </div>
        <div v-html="store.formatted(n.content)" />
      </div>
      <div v-if="editing" class="frame-1 col-auto" style="opacity: 0.6">
        <div class="text-h2 q-pa-sm">Ajouter une note</div>
        <q-btn-dropdown icon="sticky_note_2" label="Sélectionner" flat>
          <note-select @input="addNote" />
        </q-btn-dropdown>
      </div>
    </div>
  </div>
</template>

<script setup>
import { watch, ref, computed } from "vue";
import { useQuasar } from "quasar";
import { useOrgaStore } from "stores/orga";
import { useAuthStore } from "stores/auth";
import { _ } from "lodash";
import { SB } from "../../db";

const store = useOrgaStore();
const auth = useAuthStore();
const $q = useQuasar();

const emit = defineEmits(["hover"]);

const props = defineProps({
  role: { default: {} },
  editing: { default: false, type: Boolean },
  containerWidth: { default: 0, type: Number },
  tableOfContent: { default: false, type: Boolean },
  tocOptions: { type: Object },
  print: { type: Boolean, default: false },
  printerFriendly: { type: Boolean, default: false },
});

const settings = computed(() => _.get(props.role, "data.print") || []);

const notes = computed(() => {
  var notes = [];
  settings.value.notes?.forEach((s) => {
    if (s.visible) notes.push(props.role.root.note_by_id(s.id));
  });
  return notes;
});

const pageWidth = ref();
const zoomRatio = computed(() =>
  props.print ? 1 : props.containerWidth / pageWidth.value
);
const onPageResize = (v) => {
  pageWidth.value = v.width;
  console.log("Page", v.width);
};

const addNote = async (note) => {
  var data = props.role.data;
  if (!data.print?.notes) _.set(data, "print.notes", []);
  // Si la note a déjà été mise, on ne fait rien
  if (data.print.notes.find((n) => n.id == note.id)) return;
  data.print.notes.push({
    id: note.id,
    visible: true,
  });
  await SB.from("holycratie_roles")
    .update({ data: data })
    .eq("id", props.role.id);
};

const hideNote = async (note) => {
  var data = props.role.data;
  if (!data.print?.notes) _.set(data, "print.notes", []);
  data.print.notes = data.print.notes.filter((n) => n.id != note.id);
  await SB.from("holycratie_roles")
    .update({ data: data })
    .eq("id", props.role.id);
};

const togglePropVisibility = async (prop, note) => {
  var data = props.role.data;
  _.update(data, `print.hide_${prop}`, (v) => !v);
  await SB.from("holycratie_roles")
    .update({ data: data })
    .eq("id", props.role.id);
};

const toggleRolesDetails = async () => {
  var data = props.role.data;
  _.update(data, "print.showRolesDetails", (v) => !v);
  await SB.from("holycratie_roles")
    .update({ data: data })
    .eq("id", props.role.id);
};
</script>

<style lang="scss">
@import url(https://fonts.googleapis.com/css2?family=Namdhinggo:wght@400;500;600;700;800&display=swap);

.page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.page.A4 {
  width: 21cm !important;
  height: 29.7cm !important;
}

@media print {
  .page {
    margin: 0;
    box-shadow: none;
  }
}

#summary.dnd {
  background-color: white;
  background-image: url(https://homebrewery.naturalcrit.com/assets/parchmentBackground.jpg);

  font-family: "Namdhinggo", serif;
  line-height: 1.2em;
  color: black;
  font-size: 16px;

  padding: 0.7cm;

  p {
    margin: 0;
  }

  column-count: 2;
  column-fill: auto;
  .wide {
    column-span: all;
  }
  .column-split {
    break-after: column;
  }

  .small-caps {
    font-variant-caps: small-caps;
  }

  a {
    color: #a7230c;
  }

  .text-h1,
  .text-h2,
  .text-h3,
  .text-h4,
  &.toc .title,
  &.toc .subtitle,
  &.toc a,
  h1,
  h2,
  h3,
  h4 {
    line-height: 1em;
    font-variant-caps: small-caps;
    color: #58180d;
    font-weight: bold;
    margin: 0;
  }
  .text-h1,
  h1 {
    font-size: 1cm;
  }
  .text-h2,
  h2 {
    font-size: 0.75cm;
    border-bottom: 2px solid #c0ad6a;
  }
  .text-h3,
  h3 {
    font-size: 0.6cm;
  }
  .text-h4,
  h4 {
    font-size: 1em;
  }

  ul {
    margin: 0;
    padding-left: 0.5cm;
  }

  .banner {
    position: relative;

    &:before {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border-image: url(https://i.imgur.com/aVlkEny.png);
      border-image-slice: 21% 7% 30% 7%;
      border-image-outset: 3px;
      border-image-width: 20% 6% 20% 6%;
    }
  }

  .frame-1,
  .frame-2,
  .frame-3,
  .frame-4,
  .frame-5,
  .frame-6,
  blockquote {
    position: relative;

    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border: 10px solid transparent;
      opacity: 0.8;
      pointer-events: none;
    }

    &.frame-1:after {
      border-image: url(https://i.imgur.com/JbM0UmW.png) 30;
      border-image-outset: 5px;
    }
    &.frame-2:after {
      border-image: url(https://i.imgur.com/jTKcFKm.png) 30;
      border-image-outset: 5px;
    }
    &.frame-3:after {
      border-image: url(https://i.imgur.com/jOUaZjK.png) 30;
      border-image-outset: 5px;
    }
    &.frame-4:after {
      border-image: url(https://i.imgur.com/EX3ByCM.png) 30 45;
      border-image-outset: 5px;
    }
    &.frame-5:after {
      border-image: url(https://i.imgur.com/AjrF0Fr.png) 30;
      border-image-outset: 5px;
    }
    &.frame-6 {
      border-image: url(https://i.imgur.com/nYleGST.png) 26 stretch;
      border-image-outset: 2px;
      border-image-width: 10px;
      border-width: 1px;
      border-radius: 12px;
      background: #faf7ea;
    }
  }

  blockquote {
    margin: 0.2em;
    padding: .5em;
    border-image: url(https://i.imgur.com/nYleGST.png) 26 stretch;
    border-image-outset: 2px;
    border-image-width: 10px;
    border-width: 1px;
    border-radius: 12px;
    background: #faf7ea;
  }

  &.toc {
    .title {
      font-size: 2.5cm;
    }
    .subtitle {
      font-size: 1.2cm;
    }
    li {
      line-height: 1.3;
    }
    .toc-item {
      margin: 0 5px 9px;
      border-bottom: 0.05cm dotted #000000;
    }
  }

  // Printer friendly
  &.print {
    background-image: none;
    .frame-6 {
      background: white;
    }
  }
}
</style>
