<template>
  <div>
    <div id="root" class="full-height" :style="{ width: '100%' }" >
      <q-resize-observer @resize="onResize" debounce="2000" />
    </div>
  </div>
</template>

<script setup>
  import { useQuasar } from 'quasar'
  // import { hierarchy, scaleLinear, interpolateHcl, pack, select, interpolateZoom } from 'd3'
  import { scaleLinear } from 'd3-scale'
  import { select } from 'd3-selection'
  import { hierarchy, pack } from 'd3-hierarchy'
  import { interpolateHcl, interpolateZoom } from 'd3-interpolate'
  import { transition } from 'd3-transition'
  import { arc } from 'd3-shape'
  import { _ } from "lodash"

  import { watch, ref, nextTick, computed } from "vue"
  import { useOrgaStore } from 'stores/orga'
  const store = useOrgaStore()
  const $q = useQuasar()

  /*
  Based on https://observablehq.com/@d3/zoomable-circle-packing
  */

  const props = defineProps({
    value: {
      type: String,
      default: ""
    },
    actor: {
      default: {}
    },
    hover: {
      default: {}
    },
    showEmpty: {
      type: Boolean,
      default: false
    }
  })

  const emit = defineEmits(["input"])

  const width = ref(500)
  var svg = null
  const node = ref(null)
  const label = ref(null)
  const arcs = ref(null)
  const root = ref(null)
  const focus = ref(null)
  const view = ref(null)

  const color = computed(() => scaleLinear()
    .domain([0, store.roles._max_depth - 2])
    // .range(["hsl(180,10%,25%)", "hsl(180,100%,29%)"])
    // .range(["hsl(300,80%,80%)", "hsl(300,30%,25%)"])
    // .range(["hsl(228,30%,40%)", "hsl(152,80%,80%)"])
    .range(["hsl(203,13%,22%)", "hsl(176,33%,50%)"])
    .interpolate(interpolateHcl))

  const color2 = computed(() => scaleLinear()
    .domain([0, store.roles._max_depth -2])
    // .range(["#ff0000", "#0000ff"])
    // .range(["hsl(0,0%,35%)", "hsl(0,80%,80%)"])
    .range(["hsl(203,13%,52%)", "hsl(176,33%,70%)"])
    .interpolate(interpolateHcl))

  watch(() => store.roles, async () => {
    await nextTick()
    redraw()
  }, { immediate: true})


  watch(() => props.value, () => valueChanged())
  watch(() => props.actor, () => doUpdate())
  watch(() => props.showEmpty, () => doUpdate())
  watch(() => props.hover, () => {
    // Permet de mettre en valeur un cercle
    node.value.classed("hover", (n) => n.data.id === props.hover)
  })

  const onResize = (size) => {
    width.value = Math.min(size.width, size.height)
    redraw()
  }

  const redraw = () => {
    loadData()
    if (props.value) valueChanged(true)
    doUpdate()
  }

  const doUpdate = () => {
    if (!node.value) return

    node.value.classed("selected", (n) => n.data.id === props.value)
    node.value.classed("actor", (n) => n.data.actors && n.data.actors_in_circle.includes(props.actor))
    node.value.classed("archive", (n) => n.data.data && n.data.data.archived)
    label.value.classed("actor-less", (n) => !n.data.actors.length && !n.data.actors_in_circle.length)
    label.value.classed("actor", (n) => n.data.actors && n.data.actors_in_circle.includes(props.actor))

    node.value.classed("empty",
      (n) => props.showEmpty && !n.children && !(n.data && n.data.actors && n.data.actors.length)
    )
    // Met les avatar en background (le faire là permet de changer pour les cercles où il y a plusieurs rôles)
    label.value
    .selectAll(".label-container-avatar")
    .style("background-image", n => n.data.actors.length ? `url(${_.sample(n.data.actors).avatarSrc})` : '')

  }

const valueChanged = (immediate = false) => {
  if (root.value) {
    var n = root.value.descendants().find((n) => n.data.id === props.value)
    zoom(n, immediate)
    doUpdate()
  }
}

const loadData = () => {
    // We are still loading everything
    if (!store.orga) return

    // Now we're good
    var tdata = hierarchy(store.roles)
      .sum((d) => 1)
      .sort((a, b) => b.value - a.value)

    // Pack
    var maxDepth = Math.max(...tdata.leaves().map((n) => n.depth))
    root.value = pack()
      .radius((n) => {
        return 10 + 2 * (maxDepth - n.depth) + (n.data.children.length ? 100 : 0)
      })
      .size([width.value, width.value])
      // .padding((n) => (n.children && n.children.length == 1 ? 10 : 2))
      .padding((n) => {
        return n.depth == 0 ? 6 : 2
        return 5 - 5 * n.depth / maxDepth})
      (tdata)

    select("#root").selectAll("*").remove()

    svg = select("#root")
      .style("background", "#212227") // color.value(-1)
      .append("svg")
      .style("height", "inherit")
      .style("width", "inherit")
      .attr("viewBox", `-${width.value / 2} -${width.value / 2} ${width.value} ${width.value}`)
      .style("display", "block")
      .style("margin", "0")
      .style("cursor", "pointer")
      // .on("click", (node) => this.zoom(node))
      .on("click", (node) => emit("input", undefined))

    node.value = svg
      .append("g")
      .selectAll("circle")
      .data(root.value.descendants().slice(0))
      // .join("circle")
      .enter()
      .append("circle")
      .attr("fill", (d) => {
        var def = (store.settings.colors  || {})[d.data.name]
        if (def) return def
        else if (d.children) return color.value(d.depth)
        else return "white"
      })
      // .attr("pointer-events", (d) => (!d.children ? "none" : null))
      .attr("class", "node")
      .on("click", (evt, n) => {
        if (focus.value !== n) {
          // this.zoom(node.children ? node : node.parent)
          // this.zoom(node)
          emit("input", n.data.id)
          evt.stopPropagation()
        }
      })

    // ARCS
    const pi = Math.PI
	  var arcPath = arc()
      .innerRadius(d => (d.r * 1.03))
      .outerRadius(d => (d.r * 1.03))
      .startAngle(d => {
        // var a = -pi / 2
        // return a - pi/4 * d.depth
        return d.depth % 2 == 1 ? -pi/2 : -3*pi/4
      })
      .endAngle(d => {
        // var a = pi / 2
        // return a - pi/4 * d.depth
        return d.depth % 2 == 1 ? pi/2 : pi/4
      })

	  arcs.value = svg
        .selectAll(".group")
        .data(root.value.descendants().filter(d => !!d.children)).enter()
        .append("g")
        .attr("class", "group")
        // .attr("transform", function(d) {
        //   return `translate(${d.x},${d.y})`; });

    arcs.value
        .append("path")
          .attr("class", "group-arc")
          .attr("id", (d,i) => `arc${i}`)
          .attr("d", arcPath)

    arcs.value
        .append("text")
          .attr("class", "group-label")
          .style("fill", d => color2.value(d.depth))
          .attr("dy", 0)
          .style("font-size",
            (node) => `${Math.sqrt(node.r)  - ($q.screen.xs ? 0 : 0)}px`
          )
        .append("textPath")
        .attr("xlink:href", (d,i) => `#arc${i}`)
        .text(d => d.data.name)
        .attr("text-anchor", "middle")
        .attr("startOffset", "25%")

    // LABELS
    label.value = svg
      .append("g")
      .attr("pointer-events", "none")
      .attr("text-anchor", "middle")
      .selectAll("foreignObject")
      .data(root.value.descendants().filter(d => !d.children)) //.filter(d => $q.screen.xs ? true : !d.children)
      .enter()
      .append("foreignObject")
      .attr("class", "label-container")
      .style("display", (node) => (node.parent === root.value ? "inline" : "inline"))
      .sort((a, b) => b.depth - a.depth)

    var div = label.value
      .append("xhtml:div")
      .attr("class", n => "label-container-wrapper " + (n.children ? "parent" : ""))
      .style("opacity", (node) => (node.parent === root.value ? 1 : 0.8))
    div
      .append("xhtml:p")
      .attr("class", "label")
      .style("font-size",
        (node) => `${Math.sqrt(node.r) * 2 + 6 - ($q.screen.xs ? 3 : 0)}px`
      )
      .text((d) => d.data.name)
    // Avatars
    div.append("xhtml:div")
    .attr("class", "label-container-avatar")
    // Background
    div.append("xhtml:div").attr("class", "label-container-bg")

    zoomTo([root.value.x, root.value.y, root.value.r * 2])
  }

  const zoom = (_node, immediate = false) => {
    focus.value = _node || root.value
    // this.$emit("input", node ? node.data.id : null)
    var _focus = _node || root.value
    if (_node && _node.parent && !_node.children) {
      _focus = _node.parent
    }

    // FIXME:
    const _transition = transition()
      // .duration(this.$d3.event && this.$d3.event.altKey ? 7500 : 750)
      .duration(immediate ? 0 : 750)
      .tween("zoom", (n) => {
        const i = interpolateZoom(view.value, [_focus.x, _focus.y, _focus.r * 2])
        return (t) => zoomTo(i(t))
      })

    // this.node.classed("selected", (n) => n === node)

    label.value
      .filter(function (n) {
        return n.parent === _focus || this.style.display === "inline"
      })
      .transition(_transition)
      .style("fill-opacity", (n) => (n.parent === _focus ? 1 : .8))
      .on("start", function (n) {
        if (n.parent === _focus) this.style.display = "inline"
      })
      .on("end", function (n) {
        if (n.parent !== _focus) this.style.display = "inline"
      })
      .selectAll("div.label-container-wrapper")
      // .style("filter", (node) => (`opacity(${node.parent === _focus ? 1 : 0}`))
      .style("opacity", (n) => (n.parent === _focus ? 1 : .8))
      // .style("align-items", n => n.parent === _focus ? "": "baseline")

  }

const zoomTo = (v) => {
  const k = (width.value / v[2]) * 0.98
  view.value = v
  label.value
    .attr("width", (node) => 2 * node.r * k)
    .attr("height", (node) => 2 * node.r * k)
    .attr("transform", (d) => `translate(${(d.x - d.r - v[0]) * k},${(d.y - d.r - v[1]) * k})`)

  node.value
  .attr("transform", (d) => `translate(${(d.x - v[0]) * k},${(d.y - v[1]) * k})`)
  .attr("r", (d) => d.r * k)

  arcs.value
    .attr("transform", (d) => `translate(${(d.x - v[0]) * k},${(d.y - v[1]) * k}) scale(${k})`)
    .attr("r", (d) => d.r * k)
}
</script>

<style lang="scss">
.node {
  cursor: pointer;
}

.node.selected {
  stroke-width: 2px;
  stroke: $primary;
}

.node.actor {
  stroke-width: 2px;
  stroke: $accent;
}

.node:hover, .node.hover {
  stroke-width: 2px;
  stroke: $primary;
}
.label-container.actor-less .label{
  color: orangered;
}
.node.empty {
  stroke: orange;
  stroke-width: 3px;
  stroke-dasharray: 10, 5, 3, 5;
}
.node.archive {
  stroke: rgb(115, 114, 111);
  stroke-width: 3px;
  stroke-dasharray: 10, 5, 3, 5;
  fill: grey;
}
.node--leaf {
  fill: white;
}

.label-container {
  /* border: 1px solid red; */
  overflow: visible;
}

.label-container-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  pointer-events: none;
  border-radius: 50%;
}
.label-container-wrapper.parent {
  // align-items: baseline;
}

.label-container-avatar {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  background: center / cover;
  opacity: .5;
}
.label-container-bg {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  // background-color: #e5e5f711;
  opacity: 1;
  position: absolute;
  /* border: 1px solid grey; */
  box-shadow: 3px 3px 6px 0px #00000044;
}
.actor .label-container-bg{
  background: $accent;
  filter: opacity(.1);
}
.label-container-wrapper p {
  margin: 0;
  z-index: 100;
}

.label {
  font-weight: bold;
  padding:2em;
  color: rgb(0, 0, 0);
  text-anchor: middle;
  text-shadow: -2px 0 2px white, 0 2px 2px white, 2px 0 2px white, 0 -2px 2px white;
  // text-shadow: 0 0 2px white;

}

.parent .label {
  font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding:2em;
  color: white;
  text-anchor: middle;
  font-weight: bold;
  text-shadow: 1px 1px 0px black, -1px -1px 0px black, 1px -1px 0px black, -1px 1px 0px black;
  /* 1px 1px 0px white, 0 0 4px white, 0 0 4px white */
}

.label,
.node--root,
.node--leaf {
  pointer-events: none;
}
</style>
