<template>
  <q-page class="flex flex-center">
    <div class="row text-center">
      <div class="col-12 text-h2 q-mb-lg text-primary">Holycratie</div>
      <div class="col-12 text-overline q-mb-lg">
        Vers des organisations sain(t)es
      </div>
      <div class="col-12">
        <div v-for="o of store.orgas.filter(o => !o.settings.private)" :key="o.id">
          <q-btn class=" q-mb-md" :to="`/orga/${o.id}`" :label="o.name" />
        </div>
      </div>
    </div>
  </q-page>
</template>

<script setup>
import { ref } from 'vue';
import {useAuthStore} from 'stores/auth'
import {useOrgaStore} from 'stores/orga'
const auth = useAuthStore()
const store = useOrgaStore()

const role = ref(null)

const changeRole = (id) => {
  console.log("CHANGING ROLE", id)
  role.value = id
}

</script>
