<template>
  <q-page class="flex flex-center">
    <div class="row text-center">
      <div class="col-12 text-h2 q-mb-lg">Holycratie</div>
      <div class="col-12 text-overline q-mb-lg">Login</div>
      <div class="col-12">
        <q-btn icon="discord" style="background: #7289da;" label="Discord" @click="singnInWithDiscord"></q-btn>
      </div>
      <span class="col-12 q-mt-md text-caption text-grey">Vous serez redirigés vers {{  URL }}</span>
    </div>
  </q-page>
</template>

<script setup>
import { SB } from "../db"
import {useRoute} from 'vue-router'

const route = useRoute()

const URL = window.location.href.replace("/login", "/user")

const singnInWithDiscord = async () => {
  const { data, error } = await SB.auth.signInWithOAuth({
    provider: 'discord',
    options: {
      redirectTo: `${URL}`
    }
  })
}
</script>
