<template>
  <q-page class="flex flex-center">
    <div class="row text-center">
      <div class="col-12 text-h2 q-mb-lg">Mes organisations</div>
      <div class="col-12">
        <div v-for="o in store.orgas.filter(o => o.owner == auth.uid)" :key="o.id">
          <q-btn class=" q-mb-md" :to="`/orga/${o.id}`" :label="o.name" />
        </div>
      </div>
      <div class="col-12">
        <q-btn class="q-mb-md" color="positive" flat icon="add" label="Créer une nouvelle organisation" @click="newOrga" />
      </div>
    </div>
  </q-page>
</template>

<script setup>
import { SB } from "../db"
import { useAuthStore } from '../stores/auth'
import {useOrgaStore} from 'stores/orga'
import { computed } from 'vue'
const store = useOrgaStore()
const auth = useAuthStore()

const newOrga = () => store.newOrga({
  name: "Nouvelle Organisation",
  owner: auth.uid
})

</script>
