<template>
  <q-page padding class="">
    <!-- content -->
    <div class="row" style="max-width: 600px; margin: auto">
      <!-- Select -->
      <q-card class="col-12 q-mb-md">
        <q-card-section>
          <actor-select
            hint="Choisissez un acteur"
            @input="$router.push({ name: 'Actors', params: { actor_id: $event.id } })"
            sort-by-role
          />
        </q-card-section>
      </q-card>
      <!-- Actor -->
      <q-card class="col-12" v-if="actor">
        <q-card-section class="bg-accent text-white text-center">
          <q-btn v-if="(auth.logged || store.settings.public)"
            icon="edit"
            :flat="!editActor"
            round
            class="absolute"
            style="right: 20px"
            @click="editActor = !editActor"
          />
          <actor-avatar size="8em" :actor="actor" />
          <div class="text-h6">
            {{
              actor.name ||
              (actor.id ? "Sans nom" : "Sélectionnez un acteur")
            }}
          </div>
          <div caption>{{ actor.id }}</div>
        </q-card-section>
        <!-- Edit -->
        <q-card-section v-if="editActor">
          <div>
            <q-input
              :model-value="actorProp('name')"
              @update:modelValue="setProp('name', $event)"
              debounce="1000"
              label="Nom"
              :disable="!actor.id"
            />
            <q-input
              :model-value="actorProp('email')"
              @update:modelValue="setProp('email', $event)"
              debounce="1000"
              label="Email"
              :disable="!actor.id"
            />
            <q-input
              :model-value="actorProp('avatarSrc')"
              @update:modelValue="setProp('avatarSrc', $event)"
              debounce="1000"
              label="Avatar (http)"
              :disable="!actor.id"
            />
          </div>
        </q-card-section>
        <!-- Delete -->
        <q-card-actions align="right" v-if="editActor">
          <q-btn
            flat
            label="Supprimer"
            color="negative"
            icon="delete"
            @click="deleteActor"
            :disabled="!actor.id || actor.roles.length > 0"
          />
          <q-banner
            v-if="actor.id && actor.roles.length > 0"
            class="bg-warning text-white"
          >
            Vous ne pouvez pas supprimer un acteur qui a des rôles assignés.
          </q-banner>
        </q-card-actions>
        <!-- Roles -->
        <q-card-section v-if="actor && !editActor">
          <!-- Liste des roles -->
          <q-item v-if="actor.roles.length == 0">
            Pas de rôles... {{ actor.name }} est sous-utilisé!
          </q-item>
          <div class="text-h5">
            {{ store.term("circle") }}
            <q-badge color="grey" align="middle">{{ actor.roles.filter(r => r.is_circle).length }}</q-badge>
          </div>
          <list-roles :roles="actor.roles.filter(r => r.is_circle)"
           @remove="store.toggleActorInRole(actor, $event)" />
          <div class="text-h5">
            Rôles
            <q-badge color="grey" align="middle">{{ actor.roles.filter(r => !r.is_circle).length }}</q-badge>
          </div>
          <list-roles :roles="actor.roles.filter(r => !r.is_circle)"
           @remove="store.toggleActorInRole(actor, $event)" />
          <!-- Actions -->
          <div class="text-h5 q-mt-md">
            Actions
            <q-badge color="grey" align="middle">{{ actions.length }}</q-badge>
            <q-btn
              dense
              flat
              class="float-right"
              icon="done_all"
              :color="actionsFinished ? 'black' : 'grey'"
              @click="actionsFinished = !actionsFinished"
            >
              <q-tooltip anchor="top middle" self="bottom middle">
                Montrer aussi les actions terminées?
              </q-tooltip>
            </q-btn>
          </div>
          <!-- Liste des actions -->
          <q-list separator dense>
            <action-item
              v-for="action in actions"
              :key="action.id"
              :id="action.id"
            />
          </q-list>
        </q-card-section>
      </q-card>
    </div>
  </q-page>
</template>

<script setup>
import { watch, ref, computed } from "vue"
import { useOrgaStore } from 'stores/orga'
import _ from 'lodash'
import { SB } from "../../db"
import { useQuasar } from 'quasar'
import { useAuthStore } from "stores/auth"

const store = useOrgaStore()
const auth = useAuthStore()
const $q = useQuasar()

const props = defineProps(["actor_id"])

const editActor = ref(false)
const actionsFinished = ref(false)


const actor = computed(() => {
  var a = store.roles.actor_by_id(props.actor_id)
  return a
})

const actorProp = name => actor.value[name]


const actions = computed(() => {
  var actions = store.actionsByActor(props.actor)
  // Filtrer les actions terminées?
  if (!actionsFinished.value) actions = actions.filter(a => !a.done)
  // Trier
  actions = _.orderBy(
    actions,
    ["done", v => (v.done ? v.updated.toDate() : v.created.toDate())],
    ["asc", "desc"]
  )
  return actions
})

const deleteActor = async () => {
  if (actor.value) {
    var _actors = store.actors.filter(u => u.id != actor.value.id)
    var r = await SB.from("holycratie_orgas")
    .update({
      actors: _actors
    })
    .eq('id', store.orga_id)
    $q.notify(`Actor supprimé.`)
  }
}

const setProp = async (name, val) => {
  var _actors = store.actors
  _actors.find(a => a.id == actor.value.id)[name] = val.trim()
  var d = await SB.from("holycratie_orgas")
  .update({
    actors: _actors
  })
  .eq('id', store.orga_id)
  $q.notify(`Nouveau ${name}: ${val}.`)
}

const roleCount = (id) => {
  return store.rolesByActor(id).length
}

</script>
