<template>
  <q-page class="column">
    <!-- Don't know why the "height: 1px" makes the splitter work (scroll area not synchronized) -->
    <!-- style="height: 1px" -->
    <q-splitter
      v-model="splitter"
      class="absolute-full"
      :separator-class="small ? 'hidden' : ''"
      :limits="[0, 100]"
      before-class="column"
    >
      <template v-slot:before>
        <q-tab-panels v-model="view" class="col q-pa-none" animated swipeable>
          <q-tab-panel name="circles" class="q-pa-none">
            <!-- Cercles -->
            <zoomable-roles
              :value="role"
              @input="changeRole($event)"
              :actor="currentActor"
              :hover="hover"
              :show-empty="isEditing"
              class="fit"
            />
            <!-- L'acteur sélectionné -->
            <q-page-sticky
              v-if="currentActor"
              position="top-left"
              :offset="[10, 10]"
            >
              <q-btn
                rounded
                size="md"
                color="accent"
                :to="{ name: 'Actors', params: { actor_id: currentActor.id } }"
              >
                <actor-avatar
                  :actor="currentActor"
                  size="2em"
                  class="on-left"
                  @input="changeRole($event)"
                />
                {{ currentActor.name }}
              </q-btn>
              <q-btn flat icon="close" @click="currentActor = null" />
            </q-page-sticky>
          </q-tab-panel>
          <q-tab-panel name="props" v-if="small" class="q-pa-none">
            <role-property
              :value="role"
              @input="changeRole($event)"
              @hover="hover = $event"
              @editing="isEditing = $event"
              @actor="currentActor = $event || currentActor"
            />
          </q-tab-panel>
          <q-tab-panel name="lists" class="q-pa-none">
            <guild-view :value="role" @input="changeRole($event)" />
          </q-tab-panel>
        </q-tab-panels>
        <!-- Vue -->
        <div :position="small ? 'bottom' : 'bottom-left'" class="col-auto">
          <q-separator v-if="small"/>
          <q-tabs
            dense
            v-model="view"
            inline-label
            switch-indicator
            align="left"
            indicator-color="transparent"
            active-color="white"
            class="text-grey-8 bg-black"
          >
            <q-tab name="circles" label="Cercles" icon="scatter_plot" />
            <q-tab name="props" label="Propriétés" icon="list" v-if="small" />
            <q-tab name="lists" label="Listes" icon="dashboard" />
          </q-tabs>
        </div>
        <!-- </div> -->
      </template>
      <!-- :horizontal="$q.screen.xs" -->
      <template v-slot:separator v-if="!small">
        <q-icon
          square
          color="grey"
          text-color="white"
          size="24px"
          :name="$q.screen.xs ? 'drag_handle' : 'drag_indicator'"
        />
      </template>
      <template v-slot:after v-if="!small">
        <role-property
          :value="role"
          @input="changeRole($event)"
          @hover="hover = $event"
          @editing="isEditing = $event"
          @actor="currentActor = $event || currentActor"
        />
      </template>
    </q-splitter>
    <q-resize-observer @resize="onResize" />
  </q-page>
</template>

<script setup>
import { useQuasar, useMeta } from "quasar";
import { watch, ref, computed } from "vue";
import { useRouter, useRoute } from "vue-router";
import { mapState } from "pinia";
import { useOrgaStore } from "stores/orga";
const store = useOrgaStore();
const $q = useQuasar();
const router = useRouter();

const props = defineProps(["role"]);

const small = computed(() => $q.screen.lt.md);
// const splitter = $q.screen.xs ? 40 : $q.screen.sm ? 50 : 70
const splitter = ref(50);
const currentActor = ref("");
const hover = ref("");
const isEditing = ref(false);

const view = ref("circles");

const changeRole = (val) => {
  if (val !== props.role) {
    if (val) router.push({ name: "Role", params: { role: val } });
    else router.push({ name: "Roles" });
  }
};

const onResize = (size) => (splitter.value = small.value ? 100 : 50);

useMeta(() => ({
  title:
    store.orga.name != store.roles.by_id(props.role).name
      ? `${store.orga.name}: ${store.roles.by_id(props.role).name}`
      : store.orga.name,
}));
</script>
