<template>
  <q-page class="column">
    <roles-print class="col" :role="role" print/>
  </q-page>
</template>

<script setup>

import { useQuasar, useMeta } from 'quasar'
import { watch, ref, computed } from "vue"
import { useRouter, useRoute } from 'vue-router';
import { mapState } from 'pinia'
import { useOrgaStore } from 'stores/orga'
const store = useOrgaStore()
const $q = useQuasar()
const router = useRouter()

const props = defineProps(["role_id"])

const role = computed(() => props.role_id ? store.roles.by_id(props.role_id) : store.roles)


useMeta(() => ({
  title: store.orga.name != store.roles.by_id(props.role).name ?
    `${store.orga.name}: ${store.roles.by_id(props.role).name}`
    : store.orga.name
}))

</script>
