<template>
  <q-page padding class="">
    <q-card style="max-width: 800px; margin: auto" flat v-if="store.orga">
      <div class="col-12">
        <q-tabs v-model="tab" class="text-secondary">
          <q-tab name="colors" icon="palette" label="Rôles fonctionnels" />
          <q-tab name="roles" icon="source" label="Modèles" />
          <q-tab name="terminology" icon="translate" label="Terminologie" />
          <q-tab name="admin" icon="settings" label="Admin" v-if="auth.logged && auth.uid == store.orga.owner" />
        </q-tabs>
      </div>
      <div class="row">
        <q-tab-panels v-model="tab" animated class="full-width">
          <q-tab-panel name="colors" style="max-width: 600px; margin: auto">
            <div class="text-h4 q-mb-md">Rôles fonctionnels</div>
            <p>
              Vous pouvez attribuer des couleurs par défauts à certains rôles.
            </p>
            <p>
              Chaque rôle avec le <b>nom</b> indiqué sera affiché avec la
              <b>couleur</b> indiquée.
            </p>
            <q-card>
              <q-list dense>
                <q-item v-for="(color, name) in store.settings.colors" :key="name">
                  <q-item-section avatar>
                    <q-btn
                      flat
                      round
                      dense
                      size="lg"
                      :style="'color:' + color"
                      icon="circle"
                    >
                      <q-popup-proxy
                        :cover="false"
                        anchor="bottom middle"
                        self="top middle"
                        transition-show="scale"
                        transition-hide="scale"
                      >
                        <q-color
                          default-view="palette"
                          :default-value="color"
                          @change="updateColor(name, $event)"
                        />
                      </q-popup-proxy>
                    </q-btn>
                  </q-item-section>
                  <q-item-section>{{ name }}</q-item-section>
                  <q-item-section side>
                    <q-btn
                      flat
                      round
                      color="grey"
                      icon="delete"
                      @click="removeColor(name)"
                    />
                  </q-item-section>
                </q-item>
                <q-item>
                  <q-item-section>
                    <q-btn
                      dense
                      flat
                      icon="add"
                      color="positive"
                      @click="addColor"
                      label="Ajouter un élément"
                    />
                  </q-item-section>
                </q-item>
              </q-list>
            </q-card>
          </q-tab-panel>
          <q-tab-panel name="roles">
            <div class="text-h4 q-mb-md">Modèles de rôles</div>
            <p>
              Créez ici des modèles de rôles que vous pourrez intégrez plus
              rapidement dans votre organisation. Si vous cochez <b>Défaut</b>,
              le rôle sera ajouté à la création de tout nouveau <code>{{store.term("circle")}}</code>.
            </p>
            <p>
              Paramétrez l'affichage dans l'onglet
              <q-btn
                dense
                color="secondary"
                flat
                @click="tab = 'colors'"
                label="rôles fonctionnels"
              />.
            </p>
            <div class="row q-col-gutter-md">
              <div class="col-12 col-sm-4">
                <q-card>
                  <!-- <q-card-section class="bg-grey text-white">
                    <div class="text-overline">Templates</div>
                  </q-card-section> -->
                  <q-list>
                    <q-item v-if="store.templates.length === 0">
                      Pas de modèles. Créez-en !
                    </q-item>
                    <q-item
                      v-for="t,id in store.templates"
                      :key="id"
                      clickable
                      @click="currentTemplateId = id"
                      :class="id === currentTemplateId ? 'bg-positive' : ''"
                    >
                      <q-item-section>{{ t.name }}</q-item-section>
                      <q-item-section side>
                        <q-btn
                          flat
                          round
                          icon="star"
                          :color="t.default ? 'yellow-8' : 'grey'"
                        />
                      </q-item-section>
                    </q-item>
                    <q-item>
                      <q-item-section> </q-item-section>
                      <q-item-section side>
                        <div class="">
                          <q-btn
                            dense
                            flat
                            icon="add"
                            color="positive"
                            @click="addTemplate"
                          />
                          <q-btn
                            :disable="currentTemplateId==null"
                            dense
                            flat
                            icon="remove"
                            color="negative"
                            @click="removeTemplate()"
                          />
                        </div>
                      </q-item-section>
                    </q-item>
                  </q-list>
                </q-card>
              </div>
              <div class="col-12 col-sm-8">
                <q-card :flat="$q.screen.xs">
                  <q-card-section>
                    <q-input
                      v-for="opt in [
                        { var: 'name', label: 'Nom' },
                        { var: 'purpose', textarea: true },
                        { var: 'accountabilities', textarea: true },
                        { var: 'domain', textarea: true },
                      ]"
                      :key="opt.var"
                      :label="opt.label || store.term(opt.var)"
                      :model-value="template[opt.var]"
                      @update:modelValue="updateTemplate(opt.var, $event)"
                      :autogrow="opt.textarea"
                      :hint="opt.hint"
                      class="col-12"
                      :disable="currentTemplateId==null"
                    />
                    <q-toggle
                      label="Appartient au cercle parent"
                      :model-value="template.in_parent"
                      @update:modelValue="updateTemplate('in_parent', $event)"
                      :disable="currentTemplateId==null"
                    />
                  </q-card-section>
                  <q-card-actions>
                    <q-toggle
                      label="Défaut"
                      :model-value="template.default"
                      @update:modelValue="updateTemplate('default', $event)"
                      :disable="currentTemplateId==null"
                    />
                    <q-btn
                      flat
                      :disabled="currentTemplateId==null"
                      icon="save"
                      label="Enregistrer"
                      color="positive"
                      @click="saveTemplate"
                    />
                  </q-card-actions>
                </q-card>
              </div>
            </div>
          </q-tab-panel>

          <q-tab-panel name="terminology">
            <div class="text-h4 q-mb-md">Terminologie</div>
            <p class="text-subtitle1">
              Définissez ici les termes que vous utilisez.
            </p>
            <p class="text-caption">Laissez vide pour la valeur par défaut.</p>
            <div class="row q-col-gutter-sm">
              <q-input
                v-for="opt in [
                  { var: 'purpose' },
                  { var: 'accountabilities' },
                  { var: 'domain' },
                  { var: 'actors' },
                  { var: 'role' },
                  { var: 'circle' },
                ]"
                :key="opt.var"
                :model-value="terms[opt.var]"
                :label="store.default_terms[opt.var]"
                @update:modelValue="updateTerm(opt.var, $event)"
                class="col-12 col-sm-6"
              />
              <div class="col-12 q-pt-lg text-right">
                <q-btn
                  flat
                  icon="settings_backup_restore"
                  class="self-middle"
                  label="Valeurs par défaut"
                  color="grey"
                  @click="restoreDefaultTerms"
                />
                <q-btn
                  flat
                  icon="save"
                  class="self-middle"
                  label="Enregistrer"
                  color="positive"
                  @click="saveTerms"
                />
              </div>
            </div>
          </q-tab-panel>

          <q-tab-panel name="admin" style="max-width: 600px; margin: auto">
            <div class="text-h4 q-mb-md">Administration</div>
            <div class="text-h5 q-mb-md">Visibilité: {{ store.settings.private ? "privé" : "public" }}</div>
            <div class="text-center">
              <div v-if="!store.settings.private">
                <q-btn disable icon="visibility" color="primary" text-color="dark" />
                <q-btn outline icon="visibility_off" color="primary" @click="store.set_settings('private', true)" />
              </div>
              <div v-else>
                <q-btn outline icon="visibility" color="primary" @click="store.set_settings('private', false)"/>
                <q-btn disable icon="visibility_off" color="primary" text-color="dark" />
              </div>
              En fait c'est pas encore implémenté
            </div>
            <div class="text-h5 q-mb-md">Accès: {{ store.settings.public ? "public" : "privé" }}</div>
            <div v-if="store.settings.public" class="text-warning">Attention: tout le monde qui a le lien peut éditer et faire n'importe quoi.</div>
            <div v-else>Seules les personnes connectées et avec des droits peuvent modifier.</div>
            <div class="text-center">
              <div v-if="!store.settings.public">
                <q-btn disable icon="lock" color="primary" text-color="dark" />
                <q-btn outline icon="lock_open" color="primary" @click="store.set_settings('public', true)" />
              </div>
              <div v-else>
                <q-btn outline icon="lock" color="primary" @click="store.set_settings('public', false)"/>
                <q-btn disable icon="lock_open" color="primary" text-color="dark" />
              </div>
            </div>
            <div class="text-h5 q-my-md">Exporter</div>
            <div class="row">
              <q-btn class="col-12 col-sm-6 offset-sm-3" icon="content_copy"
                label="Exporter" color="accent" @click="exportOrga"/>
            </div>
            <div class="text-h5 q-my-md">Supprimer '{{store.orga.name}}'</div>
            <div class="row">
              <q-btn
                class="col-12 col-sm-6 offset-sm-3"
                label="Supprimer"
                color="negative"
                @click="deleteOrga"
              />
            </div>
          </q-tab-panel>
        </q-tab-panels>
      </div>
    </q-card>
  </q-page>
</template>

<script setup>
import { watch, ref, computed, reactive } from "vue"
import { useOrgaStore } from 'stores/orga'
import { useAuthStore } from 'stores/auth'
import _ from 'lodash'
import { useQuasar } from 'quasar'
import { useRouter } from "vue-router"
import { copyToClipboard } from 'quasar'

const router = useRouter()

const store = useOrgaStore()
const auth = useAuthStore()
const $q = useQuasar()

const tab = ref("colors")
const terms = ref({})
const template = ref({})
const currentTemplateId = ref(null)
const currentColor = ref(null)

const updateTerm = (term, value) => {
  terms.value[term] = value
}

const restoreDefaultTerms = () => {
  terms.value = _.clone(store.default_terms)
}

const saveTerms = () => {
  store.set_settings("terms", terms.value)
  .then(() => $q.notify("D'accord."))
}

const addTemplate = () => {
  store.set_settings(`templates[${store.templates.length}]`, {
      name: "Rôle template",
      purpose: "",
      accountabilities: "",
      domain: "",
      role: "",
      cercles: "",
      default: false
    })
}

const removeTemplate = () => {
  if (currentTemplateId.value !== null) {
    store.remove_settings(`templates[${currentTemplateId.value}]`)
    currentTemplateId.value = null
  }
}

const updateTemplate = (term, val) => {
  template.value[term] = val
}

const saveTemplate = () => {
  store.set_settings(`templates[${currentTemplateId.value}]`, template.value)
}

const addColor = () => {
  $q.dialog({
    title: "Nom du rôle",
    prompt: {
      model: "",
      type: "text",
      isValid: val => val.length > 0
    },
    cancel: false
  })
  .onOk(name => {
    if (_.get(store.settings, `colors.${name}`)) {
      $q.notify(`Le rôle ${name} est déjà dans la liste.`)
    } else {
      name = name.trim()
      store.set_settings("colors." + name, "#00ff00ff")
    }
  })
}

const removeColor = (name) => {
  store.remove_settings(`colors.${name}`)
}

const updateColor = (name, val) => {
  store.set_settings(`colors.${name}`, val)
  .then(() => $q.notify("OK."))
}

const deleteOrga = () => {
  $q.dialog({
      title: "Confirmez",
      message: `Tu es sur le point de supprimer <b>${store.orga.name}</b>.<br>
      Cette opération est irréversible.<br><br>
      Il y a <b>${store.roles.roles.length}</b> rôles
      et <b>${store.roles.all_actors.length}</b> acteurs dans ton organisation.<br><br>
      Es-tu sûr de toi?`,
      cancel: true,
      persistent: true,
      html: true
    })
    .onOk(async () => {
      await store.deleteOrga()
      router.push({ name: "User" })
    })
    .onCancel(() => {
      $q.dialog({ title: "C'est bien ce que je pensais..." })
    })
}

const exportOrga = () => {

  const orga = _.cloneDeep(store.orga)
  orga.roles = _.cloneDeep(store._roles)

  copyToClipboard(JSON.stringify(orga, null, 2))
  $q.notify("Copié dans le presse papier.")
}

const currentTemplate = computed(() => {
  return currentTemplateId.value !== null
    ? store.templates[currentTemplateId.value]
    : {}
})

watch(currentTemplateId, () => template.value = _.clone(currentTemplate.value))

watch(() => store.terms, () => terms.value = _.clone(store.terms), { immediate: true })

</script>
