<template>
  <q-expansion-item
    clickable
    dense
    :class="action.done ? 'text-grey text-italic' : ''"
    expand-icon-class="hidden"
    v-if="action"
  >
    <template v-slot:header>
      <!-- Checkbox -->
      <q-item-section avatar>
        <q-checkbox
          color="grey"
          :value="action.done"
          @input="$hc.orga.checkAction(action.id, $event)"
        />
      </q-item-section>
      <q-item-section>
        <!-- Nom -->
        <q-item-label :class="action.done ? 'text-strike' : ''">{{action.name}}</q-item-label>
        <q-item-label caption class="ellipsis row align-middle">
          <!-- Time ago -->
          <span>
            <q-icon name="access_time" class="q-mr-xs" />
            {{ $hc.ago(action.done ? action.updated : action.created)}}
            <q-tooltip anchor="top middle" self="bottom middle">
              {{ $hc.date(action.done ? action.updated : action.created) }}
            </q-tooltip>
          </span>
          <!-- Role -->
          <span v-if="action.role !== role" class="q-ml-xs">
            <q-icon name="group_work" class="q-mr-xs" />
            <router-link class="role" :to="{name: 'Role', params: (action.role ? { role: action.role } : {}) }">{{ $hc.orga.roleById(action.role).name }}</router-link>
          </span>
        </q-item-label>
      </q-item-section>
      <q-item-section avatar>
        <div class="no-wrap">
          <q-btn
            flat
            round
            dense
            icon="keyboard_arrow_down"
            color="grey"
            v-if="action.text"
          />
          <q-btn
            flat
            round
            dense
            icon="delete"
            color="grey-4"
            class="reveal"
            @click="$store.dispatch('orga/deleteAction', action.id)"
          />
          <actor-avatar :id="action.actor" size="2em" />
        </div>
      </q-item-section>
    </template>
    <q-card v-if="action.text">
      <q-card-section :inner-html.prop="$hc.formatted(action.text)" />
    </q-card>
  </q-expansion-item>
</template>

<script>
export default {
  name: "ActionItem",
  props: {
    id: { default: "" },
    role: { default: null } // utile pour cacher les infos d'un rôle
  },
  data() {
    return {}
  },
  computed: {
    action() { return this.$hc.orga.actionById(this.id) }
  },
  methods: {}
}
</script>

<style scoped>
a.role {
  text-decoration: none;
  color: inherit;
}
</style>
