<template>
  <q-popup-proxy ref="popup" @show="focus" :breakpoint="4000">
    <q-card>
      <q-card-section class="bg-secondary text-white">
        Nouvelle action
      </q-card-section>
      <q-card-section>
        <q-input ref="input" v-model="name" label="Nom de l'action" />
        <q-input autogrow v-model="text" label="Description" />
      </q-card-section>
      <q-card-section class="text-center">
        <actor-avatar
          v-if="actor"
          :id="actor"
          @click="actor = ''"
          class="cursor-pointer"
        />
        <actors-toggle
          :editable="needsActor && actor === ''"
          :actors="needsActor ? [] : currentRole.actors"
          @toggle="actor = $event"
          tooltip="Vous devez assignez un acteur à cette action"
        />
      </q-card-section>
      <q-card-actions align="right">
        <q-btn
          icon="add"
          @click="addAction"
          type="submit"
          color="positive"
          flat
          label="Ajouter"
          :disable="!this.actionActor"
          :loading="loading"
        />
      </q-card-actions>
    </q-card>
  </q-popup-proxy>
</template>

<script>

export default {
  name: "DialogAction",
  props: {
    role: { default: "" }
  },
  data() {
    return {
      name: "",
      text: "",
      project: "",
      actor: "",
      loading: false
    }
  },
  computed: {
    currentRole() {
      return this.$hc.orga.roleById(this.role)
    },
    /**
     * Retourne true si il y a besoin d'assigner un actor, c'est à dire si:
     * - le rôle n'est pas énergisé
     * - il y a plusieurs acteurices qui énergisent le rôle → ambiguïté
     */
    needsActor() {
      return !(this.currentRole.actors && this.currentRole.actors.length === 1)
    },
    // The actor assigned: either the one from the role, or one specified
    actionActor() {
      return this.needsActor ? this.actor : this.currentRole.actors[0]
    }
  },
  methods: {
    addAction() {
      this.loading = true
      this.$hc.orga.actionsRef().add({
        name: this.name,
        text: this.text,
        created: this.$hc.ts(),
        role: this.role,
        actor: this.actionActor,
        done: false,
        project: ""
      }).then(() => {
        this.loading = false
        this.name = ""
        this.text = ""
        this.project = ""
        this.actor = ""
        this.$refs.popup.hide()
      })
    },
    focus() {
      if (this.$refs.input) this.$refs.input.focus()
    }
  }
}
</script>
