<template>
  <div>
    <q-bar>
      <q-space />
      <q-btn
        dense
        flat
        icon="account_tree"
        :color="children ? 'black' : 'grey'"
        @click="children = !children"
      >
        <q-tooltip anchor="top middle" self="bottom middle"
          >Montrer aussi les actions des rôles de ce cercle?</q-tooltip
        >
      </q-btn>
      <q-btn
        dense
        flat
        icon="done_all"
        :color="finished ? 'black' : 'grey'"
        @click="finished = !finished"
      >
        <q-tooltip anchor="top middle" self="bottom middle">
          Montrer aussi les actions terminées?
        </q-tooltip>
      </q-btn>
    </q-bar>
    <q-list separator dense>
      <action-item
        v-for="action in actions"
        :key="action.id"
        :id="action.id"
        :role="role"
      />
    </q-list>
    <q-btn
      icon="add"
      color="positive"
      round
      class="fixed-bottom-right on-left q-mb-xl"
    >
      <dialog-action :role="role" />
    </q-btn>
  </div>
</template>

<script>
export default {
  name: "ActionsList",
  props: {
    role: { default: "" },
    showFinished: { type: Boolean, default: false },
    showChildren: { type: Boolean, default: false }
  },
  data() {
    return {
      children: this.showChildren,
      finished: this.showFinished
    }
  },
  computed: {
    /* eslint-disable indent */
    actions() {
      var actions
      if (this.children) actions = this.$hc.orga.actionsByRoleAndChildren(this.role)
      else actions = this.$hc.orga.actionsByRole(this.role)

      if (!this.finished) actions = actions.filter(a => !a.done)
      // On trie par date de création si c'est pas fini
      // et par date de finition si c'est fini
      // Et on met les pas finies avant les finies
      actions = this._.orderBy(
        actions,
        ["done", v => (v.done ? v.updated.toDate() : v.created.toDate())],
        ["asc", "desc"]
      )
      return actions
    }
  },
  methods: {}
}
</script>
