<template>
  <div class="column">
    <div class="col-auto row bg-secondary text-dark items-center">
      <q-icon class="col-1" name="sticky_note_2" size="xs" />
      <div class="col text-subtitle1">Notes</div>
      <div class="col-auto q-pa-sm">
        <q-btn
          round
          icon="expand"
          flat
          :color="allNotes ? 'accent' : 'grey'"
          @click="allNotes = !allNotes"
        >
          <q-tooltip>Afficher les notes des sous-rôles</q-tooltip>
        </q-btn>
      </div>
      <div class="col-auto q-pa-sm">
        <q-btn v-if="editing" round icon="add_circle" flat @click="newNote" />
      </div>
    </div>
    <q-scroll-area class="col-3">
      <q-list separator>
        <q-item
          v-for="note in notes"
          :key="note.id"
          clickable
          @click="selected = note.id"
          :active="selected == note.id"
          active-class="bg-primary text-dark"
          @mouseenter="$emit('hover', note.role.id)"
          @mouseleave="$emit('hover', null)"
        >
          <q-item-section>
            <q-item-label>{{ note.title }}</q-item-label>
            <q-item-label
              caption
              v-if="allNotes"
              :class="selected == note.id ? 'text-dark' : ''"
            >
              {{ note.role.fullpath }}
            </q-item-label>
          </q-item-section>
          <q-item-section avatar v-if="editing">
            <div class="row q-pa-none">
              <q-btn
                flat
                round
                dense
                color="grey"
                icon="content_copy"
                @click="() => duplicate(note)"
              >
                <q-tooltip>Dupliquer</q-tooltip>
              </q-btn>
              <q-btn flat round dense color="grey" icon="forward" @click.stop>
                <q-popup-proxy>
                  <role-select
                    filled
                    autofocus
                    hint="Vers…"
                    @input="(dest) => moveNoteTo(note.id, dest)"
                  />
                </q-popup-proxy>
                <q-tooltip>Déplacer vers...</q-tooltip>
              </q-btn>
              <q-btn
                flat
                round
                dense
                color="grey"
                icon="delete"
                @click="() => deleteNote(note.id)"
              >
                <q-tooltip>Supprimer</q-tooltip>
              </q-btn>
            </div>
          </q-item-section>
        </q-item>
      </q-list>
    </q-scroll-area>
    <q-separator />
    <div class="col q-pa-sm column">
      <q-input
        v-if="editing"
        filled
        class="col-auto q-mb-sm text-h3"
        :disable="!selected"
        :model-value="note.title"
        @update:modelValue="updateNote('title', $event)"
        debounce="2000"
      />
      <span v-if="!editing" class="col-auto text-h3 q-mb-sm">{{
        note.title
      }}</span>
      <q-input
        filled
        v-if="editing"
        type="textarea"
        class="col fullheight"
        :disable="!selected"
        :model-value="note.content"
        @update:modelValue="updateNote('content', $event)"
        debounce="2000"
      />
      <div v-if="!editing" class="col" v-html="store.formatted(note.content)" />
    </div>
  </div>
</template>

<script setup>
import { watch, ref, computed } from "vue";
import { useQuasar } from "quasar";
import { useOrgaStore } from "stores/orga";
import { useAuthStore } from "stores/auth";
import { _ } from "lodash";
import { SB } from "../../db";

const store = useOrgaStore();
const auth = useAuthStore();
const $q = useQuasar();

const emit = defineEmits(["hover"]);

const props = defineProps({
  role: { default: {} },
  editing: { default: false, type: Boolean },
});

const allNotes = ref(false);
const notes = computed(() => {
  var n = props.role.notes;
  if (allNotes.value)
    // Je dois utiliser _.uniq, parce que pour un role normal,
    // role.roles ne retourne que les roles enfants. Mais pour
    // le rôle racine, role.roles inclut la racine. FIXME?
    return _.uniq(
      n.concat(_.flatten(props.role.roles.map((r) => r.notes)).filter((n) => n))
    );
  return n;
});

const selected = ref();
const note = computed(() => {
  if (selected.value)
    return notes.value?.find((n) => n.id == selected.value) || {};
  return {};
});

const updateNote = async (what, val) => {
  $q.loadingBar.start();
  const r = await SB.from("holycratie_notes")
    .update({
      [what]: val,
    })
    .eq("id", selected.value);
  if (r.error) store.notify_error("Erreur", r.error.message);
  else $q.notify({ message: `C'est noté.`, group: "save" });
  $q.loadingBar.stop();
};

const deleteNote = async (id) => {
  $q.loadingBar.start();
  const r = await SB.from("holycratie_notes").delete().eq("id", id);

  if (r.error) store.notify_error("Erreur", r.error.message);
  else {
    $q.notify({ message: `Note supprimée.` });
    selected.value = null;
  }
  $q.loadingBar.stop();
};

const newNote = async () => {
  $q.loadingBar.start();
  const r = await SB.from("holycratie_notes")
    .insert({
      role: props.role.orga ? null : props.role.id,
      orga: props.role.root.id,
    })
    .select()
    .single();

  if (r.error) store.notify_error("Erreur", r.error.message);
  else {
    console.log(r)
    $q.notify({ message: `Note crée.` });
    selected.value = r.data.id;
  }
  $q.loadingBar.stop();
};

const moveNoteTo = async (id, dest) => {
  console.log(dest);
  $q.loadingBar.start();
  const r = await SB.from("holycratie_notes")
    .update({
      role: dest.orga ? null : dest.id,
    })
    .eq("id", id);
  if (r.error) store.notify_error("Erreur", r.error.message);
  else $q.notify({ message: `Et zoum.` });
  $q.loadingBar.stop();
};

const duplicate = async (note) => {
  $q.loadingBar.start();
  console.log(note)
  const r = await SB.from("holycratie_notes")
    .insert({
      role: note.role.orga ? null : note.role.id,
      orga: store.orga_id,
      title: note.title,
      content: note.content,
      data: note.data,
    })
    .select()
    .single();

  if (r.error) store.notify_error("Erreur", r.error.message);
  else {
    $q.notify({ message: `Note crée.` });
    selected.value = r.data.id;
  }
  $q.loadingBar.stop();
};
</script>

<style>
label.fullheight .q-field__control {
  height: 100%;
}
</style>../../db
