<template>
  <q-select
    ref="select"
    autofocus
    use-input
    :options="options"
    v-model="model"
    @filter="filter"
    @update:model-value="selectNote"
  >
    <template v-slot:option="scope">
      <q-item v-bind="scope.itemProps">
        <q-item-section>
          <q-item-label>{{ scope.opt.title }}</q-item-label>
          <q-item-label caption>{{ scope.opt.role.fullpath }}</q-item-label>
        </q-item-section>
      </q-item>
    </template>
  </q-select>
</template>

<script setup>
import { watch, ref, computed, onMounted } from "vue";
import { useQuasar } from "quasar";
import { useOrgaStore } from "stores/orga";
import { useAuthStore } from "stores/auth";
import { _ } from "lodash";
import { SB } from "../../db";

const store = useOrgaStore();
const auth = useAuthStore();
const $q = useQuasar();

const emit = defineEmits(["input"]);

const props = defineProps({
  role: { default: {} },
  editing: { default: false, type: Boolean },
});

const model = ref();
const filterTxt = ref("");

const filter = (val, update) => {
  filterTxt.value = val.trim().toLowerCase();
  update();
};

const options = computed(() => {
  console.log(store.roles.all_notes);
  return store.roles.all_notes.filter((n) =>
    n.title.toLowerCase().includes(filterTxt.value)
  );
});

const select = ref(null);
const selectNote = (note) => {
  emit("input", note)
  model.value = null
  select.value.hidePopup()
};
</script>

<style></style>
