// app global css in SCSS form
.text-cream {
    color: #f1e9da !important;
}

.bg-cream {
    background: #f1e9da !important;
}

.text-discord {
    color: $discord !important;
}

.bg-discord {
    background: $discord !important;
}


body {
  
}
.q-page {
  a {
    color: $primary;
    text-decoration: none;
    font-weight: bold;
  }
}