<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar class="text-dark">
        <q-toolbar-title
          ><q-btn no-caps to="/" flat dense>Holycratie</q-btn></q-toolbar-title
        >
        <q-btn
          v-if="!auth.logged"
          icon="people"
          flat
          label="login"
          to="login"
        />
        <q-btn v-if="auth.logged" flat round>
          <q-avatar>
            <q-img :src="auth.user.user_metadata.avatar_url" />
          </q-avatar>
          <q-popup-proxy>
            <q-card>
              <q-list style="min-width: 300px">
                <q-item>
                  <q-item-section>
                    {{auth.user.user_metadata.full_name}}
                  </q-item-section>
                </q-item>
                <q-item clickable :to="{name: 'User'}">
                  <q-item-section avatar>
                    <q-icon name="workspaces"/>
                  </q-item-section>
                  <q-item-section>
                    <q-item-label>Mes organisations</q-item-label>
                  </q-item-section>
                </q-item>
                <q-item clickable @click="SB.auth.signOut()">
                  <q-item-section avatar>
                    <q-icon name="logout"/>
                  </q-item-section>
                  <q-item-section>
                    <q-item-label>Log out</q-item-label>
                  </q-item-section>
                </q-item>
              </q-list>
            </q-card>
          </q-popup-proxy>
        </q-btn>
      </q-toolbar>
    </q-header>
    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script setup>
import {useAuthStore} from 'stores/auth'
import { SB } from "../db"
import { useMeta } from 'quasar'

const auth = useAuthStore()

useMeta({
  title: "Holycratie",
  titleTemplate: title => `${title} — Holycratie`
})

</script>
