<template>
  <q-layout view="hHh Lpr fFf">
    <q-page-container>
      <!-- This is where pages get injected -->
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script setup>
import { computed, watch } from 'vue'
import { useRoute } from 'vue-router'
import { SB } from "../db"
import { useOrgaStore } from 'stores/orga'
import { useAuthStore } from 'stores/auth'
import { useMeta } from "quasar"

const store = useOrgaStore()
const auth = useAuthStore()

const props = defineProps(["orga"])
watch(() => props.orga, () => store.orga_id = props.orga, {immediate:true})

useMeta(() => ({
  title: store.orga.name,
  titleTemplate: title => `${title} — Holycratie`
}))

</script>
