<template>
  <q-layout view="hHh Lpr fFf">
    <!-- Be sure to play with the Layout demo on docs -->

    <!-- (Optional) The Header -->
    <q-header elevated>
      <q-toolbar class="text-dark">
        <q-btn flat :to="{name: 'Home'}" icon="workspaces" round >
          <q-tooltip>Page d'accueil</q-tooltip>
        </q-btn>
        <q-toolbar-title v-if="$q.screen.gt.sm">
          <q-btn flat :to="{name: 'Roles'}">{{ store.orga.name }}</q-btn>
        </q-toolbar-title>
        <q-space v-if="$q.screen.lt.md"/>
        <q-btn flat icon="people" :label="$q.screen.gt.xs ? store.term('actors') : ''" :to="`/orga/${store.orga_id}/actors`">
          <q-tooltip>{{store.term('actors')}}</q-tooltip>
        </q-btn>
        <q-btn flat icon="group_work" :label="$q.screen.gt.xs ? store.term('role') + 's' : ''" :to="`/orga/${store.orga_id}/`" >
          <q-tooltip>{{store.term('role')}}</q-tooltip>
        </q-btn>
        <q-space />
        <q-btn v-if="auth.logged" flat icon="settings" :to="`/orga/${store.orga_id}/settings`" >
          <q-tooltip>Settings</q-tooltip>
        </q-btn>
      </q-toolbar>
    </q-header>

    <q-page-container>
      <!-- This is where pages get injected -->
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script setup>
import { computed, watch } from 'vue'
import { useRoute } from 'vue-router'
import { SB } from "../db"
import { useOrgaStore } from 'stores/orga'
import { useAuthStore } from 'stores/auth'
import { useMeta } from "quasar"

const store = useOrgaStore()
const auth = useAuthStore()

const props = defineProps(["orga"])
watch(() => props.orga, () => store.orga_id = props.orga, {immediate:true})

useMeta(() => ({
  title: store.orga.name,
  titleTemplate: title => `${title} — Holycratie`
}))

</script>
